
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style type="text/css">
    label {
        font-size: 15px;
    }

    .userpop a p {
        display: none;
    }

    .userpop a:hover p {
        display: table-row-group;
    }

    td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
    }

    .btnblue {
        background-color: #1f395f;
        border: 1px solid #1f395f;
    }

    .mymodals-confirm {
        color: #636363;
        width: 325px;
        font-size: 14px;
    }

        .mymodals-confirm .mymodals-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .mymodals-confirm .mymodals-header {
            border-bottom: none;
            position: relative;
        }

        .mymodals-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .mymodals-confirm .form-control, .mymodals-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .mymodals-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .mymodals-confirm .mymodals-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .mymodals-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #636363;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .mymodals-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }

        .mymodals-confirm .mymodals-dialog {
            margin-top: 80px;
        }

        .mymodals-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #636363;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

            .mymodals-confirm .btn:hover, .mymodals-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>


<div class="row">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><h4>DSA List</h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- subscribe start -->
    <div class="col-md-12">
        <div class="bt-wizard " id="tabswizard">
            <div class="userpop" style="text-align:right">
                <input type="hidden" id="hiddeneditnofification" />
                @*<input type="hidden" id="hiddeneditnofification" />*@
                <input type="hidden" id="hiddenselecteduserid" />
            </div>
            <div class="pt-1 bg-primary"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="row" style="font-size:15px;text-align:left;margin-bottom:5px;padding:10px;">
                                <div class="col-lg-12">
                                    &nbsp;
                                </div>
                                <div class="col-lg-8">
                                    <select id="ddldsalst" style="padding:5px;font-size:15px;width:200px;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                        <option>Select DSA </option>
                                    </select>

                                    <select  id="ddlenty" style="padding:5px;font-size:15px;width:200px;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                        <option>Select Entity</option>
                                    </select>

                                    <select id="ddlstatuslist" style="padding:5px;font-size:15px;width:200px;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                        <option>Select Status</option>
                                    </select>

                                </div>
                                <div class="col-lg-4" style="text-align:right">
                                    <a onclick="NewDSA();" data-target=".bs-example-modal-sm" style="font-size: 15px;background-color:#1f395f;color:white;padding:7px;border-radius:5px;" role='button' class="pc-link">
                                        <i class="fa fa-user-plus" style="color: white"></i>&nbsp;Add New
                                    </a>&nbsp;<!--data-toggle="modal"-->
                                    <a onclick="GetDSA();" data-target=".bs-example-modal-sm" style="font-size: 15px;background-color:#1f395f;color:white;padding:7px;border-radius:5px;" role="button" class="pc-link">
                                        <i class="fa fa-edit" style="color:white"></i>&nbsp;Edit
                                    </a>&nbsp;
                                    <a data-toggle="modal" data-target=".bs-example-modal-sm" role="button" style="font-size: 15px;background-color:#1f395f;color:white;padding:7px;border-radius:5px;" class="pc-link">
                                        <i class="fa fa-trash" style="color: white"></i>&nbsp;Delete
                                    </a>
                                </div>
                                <div class="col-lg-12">
                                    <br />
                                    <input type="hidden" id="hiddendsaname" />
                                    <input type="hidden" id="hiddendsauserIds" />
                                </div>
                                <div class="col-lg-12" style="font-size:15px;">
                                    <table id="tbldsalist" border="1" style="font-size:15px;" id="tblbankerlist" class="table table-bordered table-striped mb-0 dataTable no-footer" role="grid" aria-describedby="report-table_info">

                                        <thead style="background-color: darkblue;color: white;font-size: xx-small">
                                            <tr>
                                                <th>Select</th>
                                                <th style="text-align: left;width: 10px">Name</th>
                                                <th style="text-align: left;width: 10px">Entity</th>
                                                <th style="text-align: left; width: 10px">Pan</th>
                                                <th style="text-align: left; width:10px">GST</th>
                                                <th style="text-align: left; width:10px">Status</th>
                                                <th style="text-align: center; width:10px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- subscribe end -->

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><span id="dialogheadertext">NEW DSA REGISTRATION</span></h4>
                    <button type="button" id="btndsadialogclose" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="padding: 0px 0px 0px;">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="" id="tabswizard">

                                <div class="tab-content card" style="margin-bottom: 30px;">
                                    <div class="pt-1 bg-primary"></div>
                                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                        <form id="dsaform">
                                            <div class="row text-danger" id="diverror">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>DSA Name</label>
                                                    <input type="text" id="txtdsaname" class="form-control" name="txtdsaname" />
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Entity Type</label>
                                                    <select id="ddlentitylist" class="form-control">
                                                    </select>
                                                </div>

                                                <div class="col-lg-6" style="margin-top:10px;">
                                                    <label>PAN No</label>
                                                    <input type="text" id="txtpanno" class="form-control" name="txtpanno" />
                                                </div>

                                                <div class="col-lg-6" style="margin-top:10px;text-align:left">
                                                    <label>GST No</label>
                                                    <input type="text" id="txtgstno" class="form-control" name="txtgstno" />
                                                </div>

                                                <div class="col-lg-3" style="margin-top:10px;text-align:center">
                                                    <div style="background-color:#f4f4f4;border-radius:5px;text-align:center;vertical-align:middle;padding:3px;background-color:#f4f4f4">
                                                        <img id="imgfilepanimageupload" src="~/assets/images/uploadimg.jpeg" style="width:100%" />
                                                    </div>
                                                    <label>Upload Pan Card </label>
                                                    <input type="file" id="filepanimageupload" class="form-control" onchange="setpanimage(this);" style="display:none;" name="filepanimageupload" />
                                                </div>

                                                <div class="col-lg-3" style="margin-top:10px;text-align:center">
                                                    <div style="background-color:#f4f4f4;border-radius:5px;text-align:center;vertical-align:middle;padding:3px;background-color:#f4f4f4">
                                                        <img id="imgfilegstimageupload" src="~/assets/images/uploadimg.jpeg" style="width:100%" />
                                                    </div>
                                                    <label>Upload GST Copy </label>
                                                    <input type="file" id="filegstimageupload" class="form-control" onchange="setgstimage(this);" style="display:none;" name="filegstimageupload" />
                                                </div>

                                                <div class="col-lg-3" style="margin-top:10px;text-align:center;">
                                                    <div style="background-color:#f4f4f4;border-radius:5px;text-align:center;vertical-align:middle;padding:3px;background-color:#f4f4f4">
                                                        <img id="imgfilecontractcopyimageupload" src="~/assets/images/uploadimg.jpeg" style="width:100%" />
                                                    </div>
                                                    <label>Contract Copy </label>
                                                    <input type="file" onchange="cont(this);" id="filecontractcopyimageupload" class="form-control" style="display:none;" name="filecontractcopyimageupload" />
                                                </div>

                                                <div class="col-lg-3" style="margin-top:10px;text-align:center;">
                                                    <div style="background-color:#f4f4f4;border-radius:5px;text-align:center;vertical-align:middle;padding:3px;background-color:#f4f4f4">
                                                        <img id="imgfilecancledchequeimageupload" src="~/assets/images/uploadimg.jpeg" style="width:100%" />
                                                    </div>
                                                    <label>Canceld Cheque</label>
                                                    <input type="file" onchange="chk(this);" id="filecancledchequeimageupload" class="form-control" style="display:none;" name="filecancledchequeimageupload" />
                                                </div>

                                                <div class="col-lg-12" style="margin-top:10px;background-color:#f4f4f4;margin-left:0px;border-radius:3px">
                                                    <h6 style="padding:5px;">DSA Admin Details</h6>
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>First Name</label>
                                                    <input type="text" id="txtfirstname" class="form-control" name="txtfirstname" />
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Last Name</label>
                                                    <input type="text" id="txtlastname" class="form-control" name="txtlastname" />
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Email Id</label>
                                                    <input type="text" id="txtemail" class="form-control" name="txtemail" />
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>ContactNo</label>
                                                    <input type="text" id="txtcontact" class="form-control" name="txtcontact" />
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Aadhar No.</label>
                                                    <input type="text" id="txtaadharno" class="form-control" name="txtaadharno" />
                                                </div>

                                                <div class="col-lg-4" style="padding: 45px 0px 0px;">
                                                    <label>Browse Aadharcard</label>
                                                    <input type="file" id="fileaadharimageupload" class="form-control" style="display:none;" name="fileaadharimageupload" />
                                                    <img id="imgfileaadharimageupload" src="~/assets/images/imgx.jpeg" />
                                                </div>

                                                <div class="col-lg-12  text-center" style="padding:10px;">
                                                    @*<input type="button" id="btnsavedsa" class="btn btn-dark" style="background-color: #1f395f" name="btnsavedsa" value="Submit" />*@
                                                    <hr />   <a href="#" id="btnsavedsa" class="btn btn-dark" data-toggle="modal">Submit</a>
                                                </div>

                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="addusermodel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><span id="spandsauserheadertext">ADD NEW DSA USER</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="" id="tabswizard">

                                <div class="tab-content card">
                                    <div class="pt-1 bg-primary"></div>
                                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                        <form>
                                            <div class="row text-danger" id="diverrormessage"></div>
                                            <div class="row text-success" id="divmessage"></div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>First Name</label>
                                                    <input type="text" id="txtdsauserfirstname" class="form-control" name="txtfirstname" />
                                                </div>

                                                <div class="col-lg-4">
                                                    <label>Last Name</label>
                                                    <input type="text" id="txtdsauserlastname" class="form-control" name="txtlastname" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Email </label>
                                                    <input type="text" id="txtdsauseremail" class="form-control" name="txtemail" />
                                                </div>
                                                @*<div class="col-lg-4" style="margin-top:10px;">
                                                        <label>Password </label>
                                                        <input type="password" class="form-control" name="Contractcopy" />

                                                    </div>

                                                    <div class="col-lg-4" style="margin-top:10px;">
                                                        <label>Confirm Password</label>
                                                        <input type="password" class="form-control" name="Canceldcheque" />
                                                    </div>*@
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Mobile</label>
                                                    <input type="text" id="txtdsausermodileno" class="form-control" name="txtmodileno" />
                                                </div>


                                                <div class="col-lg-12 text-right" style="margin-top: 10px;padding:10px;">
                                                    @*<input type="button" class="btn btn-dark" style="background-color:darkslategrey" id="btnsavedsauser" name="btnsavedsauser" value="Submit" />*@
                                                    <a href="#" id="btnsavedsauser" class="btn btn-dark" data-toggle="modal">Submit</a>
                                                </div>

                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--        For success dialog box      -->
    <div id="MySuccessModal" class="modal fade" style="margin-top:10%">
        <div class="modal-dialog mymodals-confirm" style="background-color:white; border-radius:10px">
            <div class="mymodals-content">
                <div class="mymodals-header">
                    <br>
                    <div class="text-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/1024px-Yes_Check_Circle.svg.png" style="width:80px;height:80px"></img>
                    </div>
                </div>
                <div class="mymodals-body" style="margin-top:10px">

                    <h4 class="mymodals-title w-100" style="padding:10px;margin-top:20px">Awesome!</h4><br>

                    <p class="text-center"><span id="dialogresponsemessage"></span></p>

                </div>
                <div class="mymodals-footer" style="margin-top:10px">
                    <button class="btn btnblue form-control" data-dismiss="mymodals">OK</button>
                </div>
            </div>
        </div>
    </div>



</div>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="~/scripts/config.js"></script>
<script src="~/scripts/crmAjax.js"></script>
<script src="~/scripts/crmcache.js"></script>
<script src="~/scripts/helper.js"></script>

<script type="text/javascript">

    function getdsalist_ddl()
    {
        $("#ddldsalst").empty()
        var pData = "";
        crmAjax.send({
            url: crmNS.api.url,
            api: 'api/dsa/getalldsamaster',
            dataType: 'json',
            data: pData,
            fileControl: "",
            success: function (status, data, errors)
            {
                var jsondata = JSON.stringify(data, null, " ");
                var arr = jQuery.parseJSON(jsondata);
                for (var i = 0; i < arr.Rows.length; i++) {
                    var Id = arr.Rows[i].Id;
                    var Status = arr.Rows[i].Status;
                    var DsaName = arr.Rows[i].DsaName;
                    $('#ddldsalst').append('<option value="' +
                        Id + '">' + DsaName + '</option>');
                }
            },
            error: function (status, data, errors) {
                alert("error");
            }
        });

        
        $("#ddldsalst").change(function () {
            var dsaname = $("#ddldsalst option:selected").text();
            $('#tbldsalist').DataTable().destroy();
            var info = {
                DsaName: "ABCPQR"
            }
            var table = $('#tbldsalist').DataTable({
                "bLengthChange": false, "searching": false,
                ajax:
                {
                    type: "Post",
                    url: 'http://crmapi.dengiadvisors.com/api/dsa/getallbydsaname',
                   // data: function (d) { return JSON.stringify({ "RequestData": info });},
                    data: function (d)
                    {
                        d.RequestData = JSON.stringify({ info });
                    },
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: true,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    }
                },
                columns: [
                    {
                        data: null, "width": "40px", "render": function (data, type, row) {
                            return '<input type="radio" class="replyIdClass" name="id" value="' + data.Id + '">';
                        }
                    },
                    {
                        //className: "replyIdClass",
                        //data: "id",
                        data: "DsaName",
                    },
                    {
                        data: "DSAEntity",
                    },
                    { data: "PanNo" },
                    { data: "GstNo" },
                    { data: "Status" },
                    {
                        className: "details-control",
                        orderable: false,
                        defaultContent: ""
                    }
                ],
                "order": [[1, 'asc']]
            });
        });

    }

    function getentities()
    {
        $("#ddlenty").empty()
        var pData = "";
        crmAjax.send({
            url: crmNS.api.url,
            api: 'api/dsa/getallentities',
            dataType: 'json',
            data: pData,
            fileControl: "",
            success: function (status, data, errors) {
                var jsondata = JSON.stringify(data, null, " ");
                var arr = jQuery.parseJSON(jsondata);
                for (var i = 0; i < arr.Rows.length; i++) {
                    var Id = arr.Rows[i].Id;
                    var Name = arr.Rows[i].Name;
                    $('#ddlenty').append('<option value="' +
                        Id + '">' + Name + '</option>');
                }
            },
            error: function (status, data, errors) {
                alert("error");
            }
        });
    }

    function getstatus() {
        $("#ddlstatuslist").empty()
        var pData = "";
        crmAjax.send({
            url: crmNS.api.url,
            api: 'api/dsa/getallstatus',
            dataType: 'json',
            data: pData,
            fileControl: "",
            success: function (status, data, errors) {
                var jsondata = JSON.stringify(data, null, " ");
                var arr = jQuery.parseJSON(jsondata);
                for (var i = 0; i < arr.Rows.length; i++) {
                    var Id = arr.Rows[i].Id;
                    var Status = arr.Rows[i].Status;
                    $('#ddlstatuslist').append('<option value="' +
                        Id + '">' + Status + '</option>');
                }
            },
            error: function (status, data, errors) {
                alert("error");
            }
        });
    }

    function setpanimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgfilepanimageupload')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function chk(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgfilecancledchequeimageupload')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    function cont(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgfilecontractcopyimageupload')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


    function setgstimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgfilegstimageupload')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }



    $(function () {
        var fileupload = $("#filepanimageupload");
        var filePath = $("#spnFilePath");
        var image = $("#imgfilepanimageupload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            // $('#imgfilepanimageupload').attr('src', filePath);

            //filePath.html("<b>Selected File: </b>" + fileName);
        });
    });
    $(function () {
        var fileupload = $("#filegstimageupload");
        var filePath = $("#spnFilePath");
        var image = $("#imgfilegstimageupload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            //filePath.html("<b>Selected File: </b>" + fileName);
        });
    });
    $(function () {
        var fileupload = $("#filecontractcopyimageupload");
        var filePath = $("#spnFilePath");
        var image = $("#imgfilecontractcopyimageupload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            //filePath.html("<b>Selected File: </b>" + fileName);filecontractcopyimageupload
        });
    });
    $(function () {
        var fileupload = $("#filecancledchequeimageupload");
        var filePath = $("#spnFilePath");
        var image = $("#imgfilecancledchequeimageupload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            //filePath.html("<b>Selected File: </b>" + fileName);filecontractcopyimageupload
        });
    });
    $(function () {
        var fileupload = $("#fileaadharimageupload");
        var filePath = $("#spnFilePath");
        var image = $("#imgfileaadharimageupload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            //filePath.html("<b>Selected File: </b>" + fileName);filecontractcopyimageupload
        });
    });
    var entityarrey = new Array();
    function entitylist() {
        $('#ddlentitylist').empty()
        $('#ddlentitylist').append('<option value="0">' + '--Select---' + '</option>');

        $.ajax({
            type: 'GET',
            url: 'http://crm.dengiadvisors.com/api/dsa/GetAllEntities',
            dataType: 'json',
            contentType: false,
            processData: false,
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
            },
            success: function (data) {
                var rolelist = JSON.stringify(data);
                //alert(rolelist);
                entityarrey = data;
                // alert(JSON.stringify(entityarrey));
                $.each(data, function (index, value) {

                    $('#ddlentitylist').append('<option value="' +
                        value.Id + '">' + value.Name + '</option>');
                });
            },
            error: function (response) {
                var messagedata = JSON.parse(response.responseText)
                alert(messagedata.Message);
            }
        });

    }

    function Checkdsaname() {
        txtdsaname.oninput = function () {
            if ($('#txtdsaname').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabyname',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtdsaname').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        //alert(data.Result);
                        if (data.Result != null) {
                            $('#diverror').html('DSA name is already exists!');
                        }
                    }
                });
            }
        }
    }
    function Checkpanno() {
        txtpanno.oninput = function () {
            if ($('#txtpanno').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabypan',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtpanno').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        //alert(data.Result);
                        if (data.Result != null) {
                            $('#diverror').html('Pan number is already exists!');
                        }
                    }
                });
            }
        }
    }
    function Checkgstno() {
        txtgstno.oninput = function () {
            if ($('#txtgstno').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabygst',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtgstno').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        if (data.Result != null) {
                            $('#diverror').html('Gst number is already exists!');
                        }
                    }
                });
            }
        }
    }
    function Checkemail() {
        txtemail.oninput = function () {
            if ($('#txtemail').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabyemail',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtemail').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        if (data.Result != null) {
                            $('#diverror').html('Email is already exists!');
                        }
                    }
                });
            }
        }
    }
    function Checkcontact() {
        txtcontact.oninput = function () {
            if ($('#txtcontact').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabycontact',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtcontact').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        if (data.Result != null) {
                            $('#diverror').html('Contact number is already exists!');
                        }
                    }
                });
            }
        }
    }
    function Checkaadhar() {
        txtaadharno.oninput = function () {
            if ($('#txtaadharno').val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://crm.dengiadvisors.com/api/DSA/getdsabyaadhar',
                    dataType: 'JSON',
                    data: JSON.stringify({ 'user': $('#txtaadharno').val() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        $('#diverror').html('');
                        if (data.Result != null) {
                            $('#diverror').html('Aadhar number is already exists!');
                        }
                    }
                });
            }
        }
    }

    function SaveNewDSA() {
        var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var phoneno = /^(?:(?:\+|0{0,2})91(\s*|[\-])?|[0]?)?([6789]\d{2}([ -]?)\d{3}([ -]?)\d{4})$/;
        var panvalidation = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
        var gstvalidate = /^([0][1-9]|[1-2][0-9]|[3][0-7])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$/;
        var aadharvalidate = /^\d{4}\s\d{4}\s\d{4}$/;
        if ($('#txtdsaname').val() == '') {
            $('#diverror').html('Please enter dsa name!');
        }
        else if (!isNaN($('#txtdsaname').val())) {
            $('#diverror').html('Please Enter Only Characters');
        }
        else if ($('#ddlentitylist option:selected').val() == '0') {
            $('#diverror').html('Please select entity type');
        }
        else if ($('#txtpanno').val() == '') {
            $('#diverror').html('Please enter pan no.!');
        }
        else if (!($('#txtpanno').val().match(panvalidation))) {
            $('#diverror').html('Please Enter valid pan no.');
        }
        else if ($('#txtgstno').val() == '') {
            $('#diverror').html('Please enter gst number!');
        }
        else if (!($('#txtgstno').val().match(gstvalidate))) {
            $('#diverror').html('Please enter valid gst number!');
        }
        //else if (!($('#txtusermobilenumber').val().match(phoneno))) {
        //    $('#diverror').html('Please enter valid mobile number!');
        //}
        else if ($('#txtfirstname').val() == '') {
            $('#diverror').html('Please enter first name!');
        }
        else if (!isNaN($('#txtfirstname').val())) {
            $('#diverror').html('Please Enter Only Characters');
        }
        else if ($('#txtlastname').val() == '') {
            $('#diverror').html('Please enter last name!');
        }
        else if ($('#txtemail').val() == '') {
            $('#diverror').html('Please enter email!');
        }
        else if (!($('#txtemail').val().match(mailformat))) {
            $('#diverror').html('Please enter valid email!');
        }
        else if ($('#txtcontact').val() == '') {
            $('#diverror').html('Please enter contact no!');
        }
        else if (!($('#txtcontact').val().match(phoneno))) {
            $('#diverror').html('Please enter valid aadhar no.!');
        }
        else if ($('#txtaadharno').val() == '') {
            $('#diverror').html('Please enter aadhar no!');
        }
        else if (!($('#txtaadharno').val().match(aadharvalidate))) {
            $('#diverror').html('Please enter valid aadhar no.!');
        }

        else {
            $('#diverror').html('');

            var ppanData = {};
            var pgstData = {};
            var pcontractData = {};
            var pcanceldchequeData = {};
            var paadharData = {};

            $('#requestData').text("");
            $('#responsebody').text("");

            var formData = new FormData();
            var filelist = [];
            var panfileMetadata = {};
            var gstfileMetadata = {};
            var contractfileMetadata = {};
            var canceldchequefileMetadata = {};
            var aadharfileMetadata = {};
            var fileMetadataArr = [];
            var panfileMetadataArr = [];
            var gstfileMetadataArr = [];
            var contractfileMetadataArr = [];
            var canceldchequefileMetadataArr = [];
            var aadharfileMetadataArr = [];
            if ($('#filepanimageupload').val() != '') {
                panfileMetadata.FileName = $('#filepanimageupload')[0].files[0].name;
                panfileMetadata.DocumentType = "PanCard";
                panfileMetadataArr.push(panfileMetadata);
                ppanData.FilesMetadata = panfileMetadataArr;
                var panname = {};
                panname.FileName = $('#filepanimageupload')[0].files[0];
                filelist.push(panname);
            }
            if ($('#filegstimageupload').val() != '') {
                gstfileMetadata.FileName = $('#filegstimageupload')[0].files[0].name;
                gstfileMetadata.DocumentType = "GST";
                gstfileMetadataArr.push(gstfileMetadata);
                pgstData.FilesMetadata = gstfileMetadataArr;
                var gstname = {};
                gstname.FileName = $('#filegstimageupload')[0].files[0];
                filelist.push(gstname);

            }
            if ($('#filecontractcopyimageupload').val() != '') {
                contractfileMetadata.FileName = $('#filecontractcopyimageupload')[0].files[0].name;
                contractfileMetadata.DocumentType = "ContractCopy";
                contractfileMetadataArr.push(contractfileMetadata);
                pcontractData.FilesMetadata = contractfileMetadataArr;
                var contractcopyname = {};
                contractcopyname.FileName = $('#filecontractcopyimageupload')[0].files[0];
                filelist.push(contractcopyname);

            }
            if ($('#filecancledchequeimageupload').val() != '') {
                canceldchequefileMetadata.FileName = $('#filecancledchequeimageupload')[0].files[0].name;
                canceldchequefileMetadata.DocumentType = "CanceldCheque ";
                canceldchequefileMetadataArr.push(canceldchequefileMetadata);
                pcanceldchequeData.FilesMetadata = canceldchequefileMetadataArr;
                var cancledchequename = {};
                cancledchequename.FileName = $('#filecancledchequeimageupload')[0].files[0];
                filelist.push(cancledchequename);
            }
            if ($('#fileaadharimageupload').val() != '') {
                aadharfileMetadata.FileName = $('#fileaadharimageupload')[0].files[0].name;
                aadharfileMetadata.DocumentType = "Aadhar";
                aadharfileMetadataArr.push(aadharfileMetadata);
                paadharData.FilesMetadata = aadharfileMetadataArr;
                var aadharname = {};
                aadharname.FileName = $('#fileaadharimageupload')[0].files[0];
                filelist.push(aadharname);

            }

            if (panfileMetadataArr.length > 0) {
                for (var x = 0; x < panfileMetadataArr.length; x++) {
                    fileMetadataArr.push(panfileMetadata);
                }
            }
            if (gstfileMetadataArr.length > 0) {
                for (var x = 0; x < gstfileMetadataArr.length; x++) {
                    fileMetadataArr.push(gstfileMetadata);
                }
            }
            if (contractfileMetadataArr.length > 0) {
                for (var x = 0; x < contractfileMetadataArr.length; x++) {
                    fileMetadataArr.push(contractfileMetadata);
                }
            }
            if (canceldchequefileMetadataArr.length > 0) {
                for (var x = 0; x < canceldchequefileMetadataArr.length; x++) {
                    fileMetadataArr.push(canceldchequefileMetadata);
                }
            }
            if (aadharfileMetadataArr.length > 0) {
                for (var x = 0; x < aadharfileMetadataArr.length; x++) {
                    fileMetadataArr.push(aadharfileMetadata);
                }
            }
            var info = {};
            info = fileMetadataArr;
            var fileinfo = {};
            fileinfo = filelist;
            var dsainfo = {
                DsaName: $('#txtdsaname').val(),
                DSAEntityId: $('#ddlentitylist option:selected').val(),
                PanNo: $('#txtpanno').val(),
                GstNo: $('#txtgstno').val(),
                FirstName: $('#txtfirstname').val(),
                LastName: $('#txtlastname').val(),
                AadharNo: $('#txtaadharno').val(),
                Email: $('#txtemail').val(),
                Phone: $('#txtcontact').val(),
                CreatedById: sessionStorage.getItem('userId'),
                UserRole: $('#ddluserrole option:selected').val(),
            }
            var requestdata = { 'AccountId': sessionStorage.getItem('userId'), 'FilesMetadata': info, 'dsadetails': dsainfo };
            //formData.append('dsadetails', JSON.stringify(info));
            formData.append('files', $('#filepanimageupload')[0].files[0]);
            formData.append('files', $('#filegstimageupload')[0].files[0]);
            formData.append('files', $('#filecontractcopyimageupload')[0].files[0]);
            formData.append('files', $('#filecancledchequeimageupload')[0].files[0]);
            formData.append('files', $('#fileaadharimageupload')[0].files[0]);
            formData.append("requestData", JSON.stringify(requestdata));
            $('#requestData').val(JSON.stringify(ppanData));

            $.ajax({
                type: 'Post',
                url: 'http://crm.dengiadvisors.com/api/DSA/CreateDSA',
                data: formData,
                dataType: null,
                type: "POST",
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    if (data.Message != null) {
                        $('#dialogresponsemessage').text(data.Message);
                        $("#MySuccessModal").modal('show');
                        //alert(JSON.stringify(data));//.Message);
                        $("#myModal").modal('hide');
                        GetDSAs();
                        $('#dsaform').trigger("reset");
                        requestdata = {};
                        while (fileMetadataArr.length > 0) {

                            info = {};
                            ppanData = {};
                            pgstData = {};
                            pcontractData = {};
                            pcanceldchequeData = {};
                            paadharData = {};
                            fileMetadataArr.pop();
                            filelist.pop();
                            canceldchequefileMetadata = {};
                            gstfileMetadata = {};
                            panfileMetadataArr.pop();
                            gstfileMetadataArr.pop();
                            contractfileMetadataArr.pop();
                            canceldchequefileMetadataArr.pop();
                            aadharfileMetadataArr.pop();
                        }
                    }
                    else {
                        $('#dialogresponsemessage').text('Already exists!');
                        $("#MySuccessModal").modal('show');
                    }
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    //alert(messagedata);
                    //alert(response.responseText);
                    alert(JSON.stringify(response));
                }
            });

        }
    }

    function ClearAllFields() {
        $('#btnclose').click(function () {
            $('#txtdsaname').val('');
            $('#txtpanno').val('');
            $('#txtgstno').val('');
            $('#txtfirstname').val('');
            $('#txtlastname').val('');
            $('#txtemail').val('');
            $('#txtcontact').val('');
            $('#txtaadharno').val('');
            entitylist();
        })
    }

    function ResendMail(button) {
        var row = $(button).closest("TR");
        // var name = $("TD", row).eq(0).find('#hiddenuid').val();
        var name = $("TD", row).eq(3).html();
        if (confirm("Do you want to resend password link on " + name + '?')) {
            //$($(button).closest("tr")).remove();

        }
    };

    function NewDSA() {
        // $("#btnsubmit").attr('value', 'Save');
        $('#myModal').modal('show');
        $("#btnsavedsa").html('Save');
        $('#txtdsaname').val('');
        $('#txtpanno').val('');
        $('#txtgstno').val('');
        $('#txtfirstname').val('');
        $('#txtlastname').val('');
        $('#txtemail').val('');
        $('#txtcontact').val('');
        $('#txtaadharno').val('');
        $('#txtuseremail').removeAttr('readonly');
        $('#dialogheadertext').text('Add New DSA');
        $('#txtemail').removeAttr('readonly');
        $('#txtcontact').removeAttr('readonly');
        $('#txtaadharno').removeAttr('readonly');
        $('#diverror').html('');
        entitylist();
        $('#filepanimageupload').empty();
        $('#filegstimageupload').empty();
        $('#filecontractcopyimageupload').empty();
        $('#filecancledchequeimageupload').empty();
        $('#fileaadharimageupload').empty();
    };

    function NewDSAUser() {
        //$("#btnsubmit").attr('value', 'Save');
        $('#spandsauserheadertext').text('New DSA User');
        $("#btnsavedsauser").html('Save');

        $('#txtdsauserfirstname').val('');
        $('#txtdsauserlastname').val('');
        $('#txtdsauseremail').val('');
        $('#txtdsausermodileno').val('');
        $('#diverrormessage').html('');
        $('#txtdsauseremail').removeAttr('readonly');
        $('#addusermodel').modal('show');
    };

    function SaveNewDSAUser() {
        var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var phoneno = /^(?:(?:\+|0{0,2})91(\s*|[\-])?|[0]?)?([6789]\d{2}([ -]?)\d{3}([ -]?)\d{4})$/;
        if ($('#txtdsauserfirstname').val() == '') {
            $('#diverrormessage').html('Please enter first name!');
        }
        else if (!isNaN($('#txtdsauserfirstname').val())) {
            $('#diverrormessage').html('Please Enter Only Characters');
        }
        else if ($('#txtdsauserlastname').val() == '') {
            $('#diverrormessage').html('Please enter last name!');
        }
        else if (!isNaN($('#txtdsauserlastname').val())) {
            $('#diverrormessage').html('Please Enter Only Characters');
        }
        else if ($('#txtdsauseremail').val() == '') {
            $('#diverrormessage').html('Please enter email!');
        }
        else if (!($('#txtdsauseremail').val().match(mailformat))) {
            $('#diverrormessage').html('Please enter valid email!');
        }
        else if ($('#txtdsausermodileno').val() == '') {
            $('#diverrormessage').html('Please enter contact no!');
        }
        else if (!($('#txtdsausermodileno').val().match(phoneno))) {
            $('#diverrormessage').html('Please enter valid aadhar no.!');
        }
        else {
            $('#diverrormessage').html('');

            var dsainfo = {
                DSAAccountId: $('#hiddendsaname').val(),
                FirstName: $('#txtdsauserfirstname').val(),
                LastName: $('#txtdsauserlastname').val(),
                Email: $('#txtdsauseremail').val(),
                Phone: $('#txtdsausermodileno').val(),
                CreatedById: sessionStorage.getItem('userId'),
            }
            var requestdata = { 'AccountId': sessionStorage.getItem('userId'), 'dsadetails': dsainfo };
            //formData.append('dsadetails', JSON.stringify(info));
            var formData = new FormData();
            formData.append("requestData", JSON.stringify(requestdata));

            //  $('#requestData').val(JSON.stringify(ppanData));
            $.ajax({
                type: 'Post',
                url: 'http://crm.dengiadvisors.com/api/DSA/createdsauser',
                data: formData,
                dataType: null,
                type: "POST",
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    if (data.HasErrors) {
                        $('#diverrormessage').html('');
                        //$('#diverrormessage').css("color", "red");
                        // $('#diverrormessage').html('User already exists!');
                        $('#dialogresponsemessage').text('User already exists!');
                    }
                    else {
                        $('#dialogresponsemessage').text(data.Message);
                        $("#MySuccessModal").modal('show');

                        $('#diverrormessage').html('');
                        $('#divmessage').css("color", "green");
                        //$('#divmessage').html(data.Message);
                        $("#addusermodel").modal('hide');
                        $('#tbldsalist tbody').empty();
                        GetDSAs();
                    }
                    //alert(JSON.stringify(data));

                    //GetUsers();
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    //alert(response.responseText);
                    alert(JSON.stringify(response));
                }
            });

        }
    }

    function GetSelectedDSAId() {
        $("#tbldsalist").delegate("input[type='radio']", "change", function () {
            var $this = $(this);
            var id = $this.val();
            $('#hiddenselecteduserid').val(id);
            //alert($('#hiddenselecteduserid').val())
            // do sth
        });
    };

    function GetDSA() {
        $('#hiddeneditnofification').val(true);
        if ($('#hiddenselecteduserid').val() != '') {
            $("#btnsavedsa").html('Update');
            // $("#btnsubmit").attr('value', 'Update');myModal
            $('#myModal').modal('show');
            $('#dialogheadertext').text('Edit DSA');
            var userid = { Id: $('#hiddenselecteduserid').val() };
            $.ajax({
                type: 'Post',
                url: 'http://crm.dengiadvisors.com/api/DSA/GetDSAById',
                data: JSON.stringify({ "user": userid }),
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    if (data != null) {
                        $('#diverror').html('');
                        var userlist = JSON.stringify(data);
                        //alert(userlist);
                        var entityid = data.Result.DSAEntityId;
                        var entityName = data.Result.DSAEntity;
                        $('#ddlentitylist').empty()
                        $('#ddlentitylist').append('<option value="' + entityid + '">' + entityName + '</option>');
                        $('#ddlentitylist').append('<option value="0">' + '--Select---' + '</option>');
                        $.ajax({
                            type: 'GET',
                            url: 'http://crm.dengiadvisors.com/api/dsa/GetAllEntities',
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            beforeSend: function (request) {
                                request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                                request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                            },
                            success: function (data) {
                                var rolelist = JSON.stringify(data);
                                //alert(rolelist);
                                $.each(data, function (index, value) {

                                    $('#ddlentitylist').append('<option value="' +
                                        value.Id + '">' + value.Name + '</option>');
                                });
                            },
                            error: function (response) {
                                var messagedata = JSON.parse(response.responseText)
                                alert(messagedata.Message);
                            }
                        });


                        $('#txtfirstname').val(data.Result.FirstName);
                        $('#txtlastname').val(data.Result.LastName);
                        $('#txtcontact').val(data.Result.Phone);
                        $('#txtemail').val(data.Result.Email);
                        $('#txtemail').attr('readonly', true);
                        $('#txtaadharno').val(data.Result.AadharNo);
                        $('#txtpanno').val(data.Result.PanNo);
                        $('#txtgstno').val(data.Result.GstNo);
                        $('#txtdsaname').val(data.Result.DsaName);
                    }
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    alert(messagedata.Message);
                }
            });
        }
        else {
            $('#dialogresponsemessage').text('Please select DSA to edit!');
            $("#MySuccessModal").modal('show');
        }
    }

    function EditDsaUser(obj) {
        //var bankerid = $(obj).closest('tr').find('td:first').html();
        var id = $(obj).closest('tr').find('input[type=hidden]').val();
        $('#hiddendsauserIds').val(id);
        $('#spandsauserheadertext').text('Edit DSA User');
        $("#btnsavedsauser").html('Update');
        $('#addusermodel').modal('show');
        userinfo = { Id: id };

        $.ajax({
            type: 'Post',
            url: 'http://crm.dengiadvisors.com/api/DSA/getdsauserdetailsbyids',
            data: JSON.stringify({ "user": userinfo }),
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
            },
            success: function (data) {
                if (data != null) {
                    $('#diverrormessage').html('');
                    //var userlist = JSON.stringify(data);
                    //alert(userlist);
                    $('#txtdsauserfirstname').val(data.Result.FirstName);
                    $('#txtdsauserlastname').val(data.Result.LastName);
                    $('#txtdsauseremail').val(data.Result.Email);
                    $('#txtdsausermodileno').val(data.Result.Phone);
                    $('#txtdsauseremail').attr('readonly', true);
                    // $('#hiddenselecteduserid').val('');
                }
            },
            error: function (response) {
                var messagedata = JSON.parse(response.responseText)
                alert(messagedata.Message);
            }
        });


        //}
        //else {
        //    alert('Please select user which you want to edit!');
        //}

        $('#txtdsauserfirstname').val('');
        $('#txtdsauserlastname').val('');
        $('#txtdsauseremail').val('');
        $('#txtdsausermodileno').val('');
    }


    //+++++++   Table

    function format(callback, vRid) {

        var dsa_name = $("#hiddendsaname").val();
        $.ajax({
            type: 'POST',
            url: 'http://crm.dengiadvisors.com/api/DSA/getalldsausersbydsa',
            dataType: 'JSON',
            data: JSON.stringify({ 'user': $("#hiddendsaname").val() }),
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
            },
            success: function (data) {
                var thead = "";
                thead = "<tr style='background-color:#EEF2F1;'><th>Name</th><th>E-mail</th><th>ContactNumber</th><th>Status</th><th><a onclick='NewDSAUser()' data-target='.bs-example-modal-sm' role='button' class='pc-link'><i class='fa fa-user-plus' style ='font-size: 17px;;color: #1f395f' ></i></a></th></tr>";
                if (data != null) {
                    //alert(JSON.stringify(data));
                    $('#diverror').html('');
                    var tbody = "";

                    $.each(data, function (i, d) {
                        tbody += "<tr><td><input type='hidden' id='" + d.Id + "' value='" + d.Id + "'/>" + d.FirstName + ' ' + d.LastName + "</td><td>" + d.Email + "</td><td>" + d.Phone + "</td><td>" + d.Status + "</td><td><a onclick='EditDsaUser(this)' data-target='' role='button' class='pc-link'><i class='fa fa-edit' style ='font-size: 16px;color: #1f395f' ></i></a> <a onclick='' data-target='' role='button' class='pc-link'>"
                            + " <i class='fa fa-trash' style ='font-size: 16px;color: #1f395f'></i></a></td></tr>";
                    });
                }
                else {
                    alert('No User for ' + dsa_name + ' DSA');
                }
                callback($("<table class='table display full-width' style='text-align:center;box-shadow:1px 1px 13px gray; font-size:15px'>" + thead + tbody + "</table>")).show();
            }
        });
    }


    //+++++++   End
    function GetDSAs() {
        $('#tbldsalist').DataTable().destroy();
        var table = $('#tbldsalist').DataTable({
            "bLengthChange": false, "searching": false,
            ajax: {
                type: "GET",
                url: 'http://crm.dengiadvisors.com/api/dsa/GetAllDSAs',
                dataSrc: '',
                datatype: 'json',
                processData: false,
                contentType: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                }
            },
            columns: [

                {
                    data: null, "margin-left": "10px", "render": function (data, type, row) {
                        return '<input type="radio" class="replyIdClass" name="id" value="' + data.Id + '">';
                    }
                },
                {
                    //className: "replyIdClass",
                    //data: "id",
                    data: "DsaName",
                },

                {

                    data: "EntityType",

                },
                { data: "Pan" },
                { data: "GST" },
                {
                    data: "Status"
                    //data: null, "render": function (data, type, row) {
                    //    var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                    //    return reemail;
                    //}
                },
                {
                    className: "details-control",
                    orderable: false,
                    defaultContent: ""
                }
            ],
            "order": [[1, 'asc']]

        });

    }


    $(document).ready(function () {
        getdsalist_ddl();
        getentities();
        getstatus();
        GetSelectedDSAId();
        Checkdsaname();
        Checkpanno();
        Checkgstno();
        Checkemail();
        Checkcontact();
        Checkaadhar();

        ClearAllFields();


        $("#btnsavedsa").click(function () {
            if ($("#btnsavedsa").html() == 'Update') {
                var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var phoneno = /^(?:(?:\+|0{0,2})91(\s*|[\-])?|[0]?)?([6789]\d{2}([ -]?)\d{3}([ -]?)\d{4})$/;
                var panvalidation = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
                var gstvalidate = /^([0][1-9]|[1-2][0-9]|[3][0-7])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$/;
                var aadharvalidate = /^\d{4}\s\d{4}\s\d{4}$/;

                if ($('#hiddenselecteduserid').val() != '') {

                    if ($('#txtdsaname').val() == '') {
                        $('#diverror').html('Please enter dsa name!');
                    }
                    else if (!isNaN($('#txtdsaname').val())) {
                        $('#diverror').html('Please Enter Only Characters');
                    }
                    else if ($('#ddlentitylist option:selected').val() == '0') {
                        $('#diverror').html('Please select entity type');
                    }
                    else if ($('#txtpanno').val() == '') {
                        $('#diverror').html('Please enter pan no.!');
                    }
                    else if (!($('#txtpanno').val().match(panvalidation))) {
                        $('#diverror').html('Please Enter valid pan no.');
                    }
                    else if ($('#txtgstno').val() == '') {
                        $('#diverror').html('Please enter gst number!');
                    }
                    else if (!($('#txtgstno').val().match(gstvalidate))) {
                        $('#diverror').html('Please enter valid gst number!');
                    }
                    else if ($('#txtfirstname').val() == '') {
                        $('#diverror').html('Please enter first name!');
                    }
                    else if (!isNaN($('#txtfirstname').val())) {
                        $('#diverror').html('Please Enter Only Characters');
                    }
                    else if ($('#txtlastname').val() == '') {
                        $('#diverror').html('Please enter last name!');
                    }
                    else if ($('#txtemail').val() == '') {
                        $('#diverror').html('Please enter email!');
                    }
                    else if (!($('#txtemail').val().match(mailformat))) {
                        $('#diverror').html('Please enter valid email!');
                    }
                    else if ($('#txtcontact').val() == '') {
                        $('#diverror').html('Please enter contact no!');
                    }
                    else if (!($('#txtcontact').val().match(phoneno))) {
                        $('#diverror').html('Please enter valid aadhar no.!');
                    }
                    else if ($('#txtaadharno').val() == '') {
                        $('#diverror').html('Please enter aadhar no!');
                    }
                    else if (!($('#txtaadharno').val().match(aadharvalidate))) {
                        $('#diverror').html('Please enter valid aadhar no.!');
                    }
                    else {
                        $('#diverror').html('');

                        var ppanData = {};
                        var pgstData = {};
                        var pcontractData = {};
                        var pcanceldchequeData = {};
                        var paadharData = {};

                        $('#requestData').text("");
                        $('#responsebody').text("");

                        var formData = new FormData();
                        var filelist = [];
                        var panfileMetadata = {};
                        var gstfileMetadata = {};
                        var contractfileMetadata = {};
                        var canceldchequefileMetadata = {};
                        var aadharfileMetadata = {};
                        var fileMetadataArr = [];
                        var panfileMetadataArr = [];
                        var gstfileMetadataArr = [];
                        var contractfileMetadataArr = [];
                        var canceldchequefileMetadataArr = [];
                        var aadharfileMetadataArr = [];
                        if ($('#filepanimageupload').val() != '') {
                            panfileMetadata.FileName = $('#filepanimageupload')[0].files[0].name;
                            panfileMetadata.DocumentType = "PanCard";
                            panfileMetadataArr.push(panfileMetadata);
                            ppanData.FilesMetadata = panfileMetadataArr;
                            var panname = {};
                            panname.FileName = $('#filepanimageupload')[0].files[0];
                            filelist.push(panname);
                        }
                        if ($('#filegstimageupload').val() != '') {
                            gstfileMetadata.FileName = $('#filegstimageupload')[0].files[0].name;
                            gstfileMetadata.DocumentType = "GST";
                            gstfileMetadataArr.push(gstfileMetadata);
                            pgstData.FilesMetadata = gstfileMetadataArr;
                            var gstname = {};
                            gstname.FileName = $('#filegstimageupload')[0].files[0];
                            filelist.push(gstname);

                        }
                        if ($('#filecontractcopyimageupload').val() != '') {
                            contractfileMetadata.FileName = $('#filecontractcopyimageupload')[0].files[0].name;
                            contractfileMetadata.DocumentType = "ContractCopy";
                            contractfileMetadataArr.push(contractfileMetadata);
                            pcontractData.FilesMetadata = contractfileMetadataArr;
                            var contractcopyname = {};
                            contractcopyname.FileName = $('#filecontractcopyimageupload')[0].files[0];
                            filelist.push(contractcopyname);

                        }
                        if ($('#filecancledchequeimageupload').val() != '') {
                            canceldchequefileMetadata.FileName = $('#filecancledchequeimageupload')[0].files[0].name;
                            canceldchequefileMetadata.DocumentType = "CanceldCheque ";
                            canceldchequefileMetadataArr.push(canceldchequefileMetadata);
                            pcanceldchequeData.FilesMetadata = canceldchequefileMetadataArr;
                            var cancledchequename = {};
                            cancledchequename.FileName = $('#filecancledchequeimageupload')[0].files[0];
                            filelist.push(cancledchequename);
                        }
                        if ($('#fileaadharimageupload').val() != '') {
                            aadharfileMetadata.FileName = $('#fileaadharimageupload')[0].files[0].name;
                            aadharfileMetadata.DocumentType = "Aadhar";
                            aadharfileMetadataArr.push(aadharfileMetadata);
                            paadharData.FilesMetadata = aadharfileMetadataArr;
                            var aadharname = {};
                            aadharname.FileName = $('#fileaadharimageupload')[0].files[0];
                            filelist.push(aadharname);

                        }

                        if (panfileMetadataArr.length > 0) {
                            for (var x = 0; x < panfileMetadataArr.length; x++) {
                                fileMetadataArr.push(panfileMetadata);
                            }
                        }
                        if (gstfileMetadataArr.length > 0) {
                            for (var x = 0; x < gstfileMetadataArr.length; x++) {
                                fileMetadataArr.push(gstfileMetadata);
                            }
                        }
                        if (contractfileMetadataArr.length > 0) {
                            for (var x = 0; x < contractfileMetadataArr.length; x++) {
                                fileMetadataArr.push(contractfileMetadata);
                            }
                        }
                        if (canceldchequefileMetadataArr.length > 0) {
                            for (var x = 0; x < canceldchequefileMetadataArr.length; x++) {
                                fileMetadataArr.push(canceldchequefileMetadata);
                            }
                        }
                        if (aadharfileMetadataArr.length > 0) {
                            for (var x = 0; x < aadharfileMetadataArr.length; x++) {
                                fileMetadataArr.push(aadharfileMetadata);
                            }
                        }
                        var info = {};
                        info = fileMetadataArr;
                        var fileinfo = {};
                        fileinfo = filelist;
                        var dsainfo = {
                            Id: $('#hiddenselecteduserid').val(),
                            DsaName: $('#txtdsaname').val(),
                            DSAEntityId: $('#ddlentitylist option:selected').val(),
                            PanNo: $('#txtpanno').val(),
                            GstNo: $('#txtgstno').val(),
                            FirstName: $('#txtfirstname').val(),
                            LastName: $('#txtlastname').val(),
                            AadharNo: $('#txtaadharno').val(),
                            Email: $('#txtemail').val(),
                            Phone: $('#txtcontact').val(),
                            CreatedById: sessionStorage.getItem('userId'),
                            UserRole: $('#ddluserrole option:selected').val(),
                        }
                        var requestdata = { 'AccountId': sessionStorage.getItem('userId'), 'FilesMetadata': info, 'dsadetails': dsainfo };
                        formData.append('files', $('#filepanimageupload')[0].files[0]);
                        formData.append('files', $('#filegstimageupload')[0].files[0]);
                        formData.append('files', $('#filecontractcopyimageupload')[0].files[0]);
                        formData.append('files', $('#filecancledchequeimageupload')[0].files[0]);
                        formData.append('files', $('#fileaadharimageupload')[0].files[0]);
                        formData.append("requestData", JSON.stringify(requestdata));

                        $.ajax({
                            type: 'Post',
                            url: 'http://crm.dengiadvisors.com/api/dsa/updatedsa',
                            data: formData,
                            dataType: null,
                            type: "POST",
                            contentType: false,
                            processData: false,
                            beforeSend: function (request) {
                                request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                                request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                            },
                            success: function (Message) {
                                $("#myModal").modal('hide');
                                $('#dialogresponsemessage').text(Message.Message);
                                $("#MySuccessModal").modal('show');
                                GetDSAs();
                                entitylist();
                                $('#dsaform').trigger("reset");
                                requestdata = {};
                                while (fileMetadataArr.length > 0) {

                                    info = {};
                                    ppanData = {};
                                    pgstData = {};
                                    pcontractData = {};
                                    pcanceldchequeData = {};
                                    paadharData = {};
                                    fileMetadataArr.pop();
                                    filelist.pop();
                                    canceldchequefileMetadata = {};
                                    gstfileMetadata = {};
                                    panfileMetadataArr.pop();
                                    gstfileMetadataArr.pop();
                                    contractfileMetadataArr.pop();
                                    canceldchequefileMetadataArr.pop();
                                    aadharfileMetadataArr.pop();
                                }

                                ClearAllFields();
                            },
                            error: function (response) {
                                var messagedata = JSON.parse(response.responseText)
                                alert(response.responseText);
                            }
                        });
                    }
                    $('#hiddenselecteduserid').val('');
                }
            }
            else {
                SaveNewDSA();
            }
        });

        // For DSA user
        $('#btnsavedsauser').click(function () {
            if ($('#btnsavedsauser').html() == 'Update') {
                var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var phoneno = /^(?:(?:\+|0{0,2})91(\s*|[\-])?|[0]?)?([6789]\d{2}([ -]?)\d{3}([ -]?)\d{4})$/;
                if ($('#txtdsauserfirstname').val() == '') {
                    $('#diverrormessage').html('Please enter first name!');
                }
                else if (!isNaN($('#txtdsauserfirstname').val())) {
                    $('#diverrormessage').html('Please Enter Only Characters');
                }
                else if ($('#txtdsauserlastname').val() == '') {
                    $('#diverrormessage').html('Please enter last name!');
                }
                else if (!isNaN($('#txtdsauserlastname').val())) {
                    $('#diverrormessage').html('Please Enter Only Characters');
                }
                else if ($('#txtdsauseremail').val() == '') {
                    $('#diverrormessage').html('Please enter email!');
                }
                else if (!($('#txtdsauseremail').val().match(mailformat))) {
                    $('#diverrormessage').html('Please enter valid email!');
                }
                else if ($('#txtdsausermodileno').val() == '') {
                    $('#diverrormessage').html('Please enter contact no!');
                }
                else if (!($('#txtdsausermodileno').val().match(phoneno))) {
                    $('#diverrormessage').html('Please enter valid aadhar no.!');
                }
                else {
                    $('#diverrormessage').html('');

                    var dsainfo = {
                        Id: $('#hiddendsauserIds').val(),
                        DSAAccountId: $('#hiddendsaname').val(),
                        FirstName: $('#txtdsauserfirstname').val(),
                        LastName: $('#txtdsauserlastname').val(),
                        Email: $('#txtdsauseremail').val(),
                        Phone: $('#txtdsausermodileno').val(),
                        CreatedById: sessionStorage.getItem('userId'),
                    }
                    var requestdata = { 'AccountId': sessionStorage.getItem('userId'), 'dsadetails': dsainfo };
                    //formData.append('dsadetails', JSON.stringify(info));
                    var formData = new FormData();
                    formData.append("requestData", JSON.stringify(requestdata));

                    //  $('#requestData').val(JSON.stringify(ppanData));
                    $.ajax({
                        type: 'Post',
                        url: 'http://crm.dengiadvisors.com/api/DSA/updatedsauser',
                        data: formData,
                        dataType: null,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                        },
                        success: function (data) {
                            if (data.HasErrors) {
                                $('#divmessage').html('');
                                $('#diverrormessage').css("color", "red");
                                $('#diverrormessage').html('User already exists!');
                            }
                            else {
                                $('#dialogresponsemessage').text(data.Message);
                                $("#MySuccessModal").modal('show');

                                $('#diverrormessage').html('');
                                $('#divmessage').css("color", "green");
                                //$('#divmessage').html(data.Message);
                                $("#addusermodel").modal('hide');
                                $('#tbldsalist tbody').empty();
                                GetDSAs();
                            }
                            //alert(JSON.stringify(data));

                            //GetUsers();
                        },
                        error: function (response) {
                            var messagedata = JSON.parse(response.responseText)
                            //alert(response.responseText);
                            alert(JSON.stringify(response));
                        }
                    });

                }

            }
            else {
                SaveNewDSAUser();
            }

        })
        //      Table
        var TicketID = $("#txtTicketID").val();
        // Get Replies From API by TicketID

        $('#tbldsalist').DataTable().destroy();
        var table = $('#tbldsalist').DataTable({
            "bLengthChange": false, "searching": false,
            ajax: {
                type: "GET",
                url: 'http://crm.dengiadvisors.com/api/dsa/GetAllDSAs',
                dataSrc: '',
                datatype: 'json',
                processData: false,
                contentType: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                }
            },
            columns: [

                {
                    data: null, "width": "40px", "render": function (data, type, row) {
                        return '<input type="radio" class="replyIdClass" name="id" value="' + data.Id + '">';
                    }
                },
                {
                    //className: "replyIdClass",
                    //data: "id",
                    data: "DsaName",
                },
                {
                    data: "EntityType",
                },
                { data: "Pan" },
                { data: "GST" },
                { data: "Status" },
                {
                    className: "details-control",
                    orderable: false,
                    defaultContent: ""
                }
            ],
            "order": [[1, 'asc']]

        });

        //Add event listener for opening and closing details
        $('#tbldsalist').on('click', 'td.details-control', function () {
            var id = $(this).closest("tr").find('.replyIdClass').val();
            var tr = $(this).closest('tr');
            var row = $('#tbldsalist').DataTable().row(tr);
            $('#hiddendsaname').val(id);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {

                // Open this row
                format(row.child, id); // here pass the reply id to function format
                tr.addClass('shown');
            }

        });


    })

</script>
