﻿
@{
    ViewBag.Title = "Rought";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">DSA</a></li>
                    <li class="breadcrumb-item">User Registration</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">


    <div class="col-lg-12">
        <div class="bt-wizard" id="tabswizard">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#tabs-t-tab1" class="nav-link rounded-0 active" data-toggle="tab">Add New DSA User's</a></li>
                <li class="nav-item"><a href="#tabs-t-tab2" class="nav-link rounded-0" data-toggle="tab">DSA User's List</a></li>
            </ul>
            <div class="tab-content card">
                <div class="pt-1 bg-primary"></div>
                <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Select DSA Name :</label>
                                <select class="form-control">
                                    <option>Raman Comapny Limited</option>
                                    <option>Relince</option>
                                    <option>HDFC</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>First Name </label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>
                            <div class="col-lg-4" style="margin-top:10px;">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>
                            <div class="col-lg-4" style="margin-top:10px;">
                                <label>Email </label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>

                            <div class="col-lg-4" style="margin-top:10px;">
                                <label>Password </label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>

                            <div class="col-lg-4" style="margin-top:10px;">
                                <label>Mobile No</label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>

                            <div class="col-lg-4" style="margin-top:10px;">
                                <label>Aadhar No</label>
                                <input type="text" class="form-control" name="DSANAME" />
                            </div>


                            <div class="col-lg-12" style="margin-top: 10px;background-color: #f4f4f4;padding:10px;">
                                <input type="button" class="btn btn-danger" name="submit" value="Submit" />
                            </div>

                        </div>
                    </form>
                </div>
                <div class="tab-pane card-body pt-4" id="tabs-t-tab2">
                    <form>
                        <div class="form-group row">
                            <label for="tabs-t-sate" class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="tabs-t-sate">
                                    <option>Select State</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tabs-t-address" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="tabs-t-address" rows="3" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


