﻿<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="Dengi Advertisors" content="Dengi Advertisors" />
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/plugins/dataTables.bootstrap4.min.css">
    <!-- font css -->
    <link rel="stylesheet" href="/assets/fonts/font-awsome-pro/css/pro.min.css">
    <link rel="stylesheet" href="/assets/fonts/feather.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/customizer.css">
    @*<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/styles/datatables.min.css" rel="stylesheet" />
   
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1951099, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Mobile header ] start -->
    <div class="pc-mob-header pc-header">
        <div class="pcm-logo">
            <img src="/assets/images/logo.jpg" alt="" class="logo logo-lg">
        </div>
        <div class="pcm-toolbar">
            <a href="#!" class="pc-head-link" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <!-- <i data-feather="menu"></i> -->
            </a>
            <a href="#!" class="pc-head-link" id="headerdrp-collapse">
                <i data-feather="align-right"></i>
            </a>
            <a href="#!" class="pc-head-link" id="header-collapse">
                <i data-feather="more-vertical"></i>
            </a>
        </div>
    </div>
    <!-- [ Mobile header ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pc-sidebar ">
        <div class="navbar-wrapper">
            <div class="m-header" style="background-color:white;">
                <a href="index.html" class="b-brand">
                    <img src="~/assets/images/logo.jpg" alt="Dengi Advertisors" class="logo logo-lg">
                    <img src="/assets/images/logo.jpg" alt="Dengi Advertisors" class="logo logo-sm">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                        <a href="/SuperAdmin/Dashboard" class="pc-link "><span class="pc-micon"><i data-feather="home"></i></span><span class="pc-mtext">Dashboard</span></a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link"><span class="pc-micon"><i data-feather="layers"></i></span><span class="pc-mtext">User Manager</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                        <ul class="pc-submenu">
                            <li class="pc-item pc-hasmenu">
                                <a href="/Office/UserRegistration" class="pc-link "><span class="pc-micon"><i data-feather="user"></i></span><span class="pc-mtext">Office User</span></a>
                                @*<ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="/Office/UserRegistration">Office Registration</a></li>

                    </ul>*@
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="/DSA/DSA" class="pc-link "><span class="pc-micon"><i data-feather="book"></i></span><span class="pc-mtext">DSA Master</span></a>
                                @*<ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="/DSA/DSA">DSA List</a></li>
                        <li class="pc-item"><a class="pc-link" href="/DSA/DSAUser">DSA User's Registration</a></li>
                    </ul>*@
                            </li>
                            <li class="pc-item pc-hasmenu">
                                <a href="#!" class="pc-link"><span class="pc-micon"><i data-feather="layers"></i></span><span class="pc-mtext">Bank Master</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                                <ul class="pc-submenu">
                                    <li class="pc-item"><a class="pc-link" href="/bank/Bank">Bank List</a></li>
                                    <li class="pc-item"><a class="pc-link" href="/Banker/Banker">Banker List</a></li>
                                    @*<li class="pc-item"><a class="pc-link" href="/Bank/ProductRegistration">Product Registration</a></li>
                        <li class="pc-item"><a class="pc-link" href="/Bank/ProductList">Product List</a></li>
                        <li class="pc-item"><a class="pc-link" href="/Bank/Banker_Registration">Banker Registration</a></li>
                        <li class="pc-item"><a class="pc-link" href="/Bank/Banker_List">Banker List</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="pc-item pc-hasmenu">
                        <a href="/ZoneCity/Region" class="pc-link "><span class="pc-micon"><i data-feather="search"></i></span><span class="pc-mtext">Region Master</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                        @*<ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#">Zone Master</a></li>
                <li class="pc-item"><a class="pc-link" href="#">Region Master</a></li>
                <li class="pc-item"><a class="pc-link" href="#">Area Master</a></li>
                <li class="pc-item"><a class="pc-link" href="#">City Master</a></li>
                <li class="pc-item"><a class="pc-link" href="#">Role Master</a></li>
            </ul>*@
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link"><span class="pc-micon"><i data-feather="check-square"></i></span><span class="pc-mtext">Office User Administration</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" href="#">Region Allocation</a></li>
                            <li class="pc-item"><a class="pc-link" href="#">Hierarchy</a></li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link"><span class="pc-micon"><i data-feather="check-square"></i></span><span class="pc-mtext">Bank Partners</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" href="#">Bank List</a></li>
                            <li class="pc-item"><a class="pc-link" href="#">Bankwise CAM</a></li>
                        </ul>
                    </li>

                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link"><span class="pc-micon"><i data-feather="check-square"></i></span><span class="pc-mtext">Loan Master</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" href="/loan/dailypickup">Daily Pickup</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/SendToBank">Send To Bank</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/LoggedIn">Logged In Files</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/CreditProcess">Credit Process</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/ApprovedFile">Approved File</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/DisbursedFile">Disbursed File</a></li>
                            <li class="pc-item"><a class="pc-link" href="/loan/RejectedFile">Rejected File</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/dsa_admin/index" class="pc-link"><span class="pc-micon"><i data-feather="check-square"></i></span><span class="pc-mtext">Loan Master</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    </li>

                    @*<li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link "><span class="pc-micon"><i data-feather="user"></i></span><span class="pc-mtext"> User Administration</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#">User Mapping</a></li>
                <li class="pc-item"><a class="pc-link" href="#">Banker List</a></li>
            </ul>
        </li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="pc-header ">
        <div class="header-wrapper">

            <div class="mr-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a style="color:black;font-size:17px;" class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <b>Welcome To Dengi Advisors</b>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="ml-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i data-feather="search"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
                            <form class="px-3">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <i data-feather="search"></i>
                                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="pc-h-item">
                        <a class="pc-head-link mr-0" href="#" data-toggle="modal" data-target="#notification-modal">
                            <i data-feather="bell"></i>
                            <span class="badge badge-danger pc-h-badge dots"><span class="sr-only"></span></span>
                        </a>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            @*<img src="/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">*@
                            <span>
                                <span id="spanusername" class="user-name"></span>
                                <span id="spanuserrole" class="user-desc"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <div class=" dropdown-header">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i data-feather="user"></i>
                                <span>My Account</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i data-feather="settings"></i>
                                <span>Settings</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i data-feather="power"></i>
                                <span id="signoff1">Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    <!-- Modal -->
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
            @RenderBody()
        </div>
    </div>

    <footer class="text-center fixed-bottom" style="background-color:#1a2a42; color: white;margin-bottom:0px;height:40px">
        Copyright @@ 2020 Dengi Advisors pvt Ltd
    </footer>





    <div class="pct-customizer">
        <div href="#!" class="pct-c-btn">
            <button class="btn btn-light-danger" id="pct-toggler">
                <i data-feather="settings"></i>
            </button>
            <button class="btn btn-light-primary" data-toggle="tooltip" title="Document" data-placement="left">
                <i data-feather="book"></i>
            </button>
            <button class="btn btn-light-success" data-toggle="tooltip" title="Buy Now" data-placement="left">
                <i data-feather="shopping-bag"></i>
            </button>
            <button class="btn btn-light-info" data-toggle="tooltip" title="Support" data-placement="left">
                <i data-feather="headphones"></i>
            </button>
        </div>
    </div>

</body>

</html>

<!-- Required Js -->
<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/feather.min.js"></script>
<script src="/assets/js/pcoded.min.js"></script>
<script src="../../../../cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/assets/js/plugins/clipboard.min.js"></script>
<script src="/assets/js/uikit.min.js"></script>

@*<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>*@
<script src="~/scripts/datatables.min.js"></script>

<script src="/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
<!-- Apex Chart -->
<script src="/assets/js/plugins/apexcharts.min.js"></script>
<script src="/assets/js/pages/todo.js"></script>

<script type="text/javascript">
        // header option
        $('#pct-toggler').on('click', function () {
            $('.pct-customizer').toggleClass('active');

        });
        // header option
        $('#cust-sidebrand').change(function () {
            if ($(this).is(":checked")) {
                $('.theme-color.brand-color').removeClass('d-none');
                $('.m-header').addClass('bg-dark');
            } else {
                $('.m-header').removeClassPrefix('bg-');
                $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo-dark.svg');
                $('.theme-color.brand-color').addClass('d-none');
            }
        });
        // Header Color
        $('.brand-color > a').on('click', function () {
            var temp = $(this).attr('data-value');
            // $('.header-color > a').removeClass('active');
            // $('.pcoded-header').removeClassPrefix('brand-');
            // $(this).addClass('active');
            if (temp == "bg-default") {
                $('.m-header').removeClassPrefix('bg-');
            } else {
                $('.m-header').removeClassPrefix('bg-');
                $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo.svg');
                $('.m-header').addClass(temp);
            }
        });
        // Header Color
        $('.header-color > a').on('click', function () {
            var temp = $(this).attr('data-value');
            // $('.header-color > a').removeClass('active');
            // $('.pcoded-header').removeClassPrefix('brand-');
            // $(this).addClass('active');
            if (temp == "bg-default") {
                $('.pc-header').removeClassPrefix('bg-');
            } else {
                $('.pc-header').removeClassPrefix('bg-');
                $('.pc-header').addClass(temp);
            }
        });
        // sidebar option
        $('#cust-sidebar').change(function () {
            if ($(this).is(":checked")) {
                $('.pc-sidebar').addClass('light-sidebar');
                $('.pc-horizontal .topbar').addClass('light-sidebar');
                // $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo-dark.svg');
            } else {
                $('.pc-sidebar').removeClass('light-sidebar');
                $('.pc-horizontal .topbar').removeClass('light-sidebar');
                // $('.m-header > .b-brand > .logo-lg').attr('src', 'assets/images/logo.svg');
            }
        });
        $.fn.removeClassPrefix = function (prefix) {
            this.each(function (i, it) {
                var classes = it.className.split(" ").map(function (item) {
                    return item.indexOf(prefix) === 0 ? "" : item;
                });
                it.className = classes.join(" ");
            });
            return this;
        };

        $(document).ready(function () {
            //spanusername
            //spanuserrole
            $('#spanusername').text(sessionStorage.getItem('userName'));
            $('#spanuserrole').text(sessionStorage.getItem('userRole'));

            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = "@Url.Action("SignIn", "Account", null)";
            }

             $('#signoff1').click(function () {
                 sessionStorage.removeItem('accessToken');

                window.location.href = "@Url.Action("SignIn", "Account",null)";
            });
        })
</script>
