﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<!DOCTYPE html>

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SuperAdmin</title>
    </head>
    <body>
        <div>

        </div>

    </body>
    </html>*@

<a data-toggle="modal" data-target=".bs-example-modal-sm" role="button" class="pc-link">Launch demo modal</a>

<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left" id="myModalLabel">Add New Office User</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            @*<div class="modal-body">
            <form name="reg-form">
                <div class="form-group">
                    <label for="user-name" class="control-label">Full Name:</label>
                    <input type="text" class="form-control" id="user-name">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email Address:</label>
                    <input type="text" class="form-control" id="email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>*@

            <form>

                @*<div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Office</a></li>
                                    <li class="breadcrumb-item">User Registration</li>
                                </ul>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bt-wizard" id="tabswizard">
                            @*<ul class="nav nav-pills">
                                <li class="nav-item"><a href="#tabs-t-tab1" class="nav-link rounded-0 active" data-toggle="tab">Add New Office User</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab2" class="nav-link rounded-0" data-toggle="tab">Office User's List</a></li>
                            </ul>*@
                            <div class="tab-content card">
                                <div class="pt-1 bg-primary"></div>
                                <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label>First Name </label>
                                            <input type="text" class="form-control" name="DSANAME" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" name="DSANAME" />
                                        </div>
                                        <div class="col-lg-4" style="margin-top:10px;">
                                            <label>Mobile No</label>
                                            <input type="text" class="form-control" name="DSANAME" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Email </label>
                                            <input type="text" class="form-control" name="DSANAME" />
                                        </div>

                                        <div class="col-lg-4" style="margin-top:10px;">
                                            <label>Password </label>
                                            <input type="password" class="form-control" name="DSANAME" />
                                        </div>



                                        @*<div class="col-lg-4" style="margin-top:10px;">
                                        <label>Aadhar No</label>
                                        <input type="text" class="form-control" name="DSANAME" />
                                    </div>*@

                                        <div class="col-lg-4" style="margin-top:10px;">
                                            <label>Set Role</label>
                                            <select id="ddluserrole" name="ddluserrole" class="form-control">
                                                <option value="0">--Select---</option>
                                            </select>
                                        </div>
                                        @*<div class="col-lg-4" style="margin-top:10px;">
                                        <label>Zone Name</label>
                                        <select class="form-control">
                                            <option>--Select---</option>
                                            <option>UP EAST Manager</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="margin-top:10px;">
                                        <label>Region Name</label>
                                        <select class="form-control">
                                            <option>--Select---</option>
                                            <option>UP EAST Manager</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="margin-top:10px;">
                                        <label>Area Name</label>
                                        <select class="form-control">
                                            <option>--Select---</option>
                                            <option>UP EAST Manager</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="margin-top:10px;">
                                        <label>City Name</label>
                                        <select class="form-control">
                                            <option>--Select---</option>
                                            <option>UP EAST Manager</option>
                                        </select>
                                    </div>*@

                                        <div class="col-lg-12" style="margin-top:10px;">
                                            <label>Loan Type* </label>
                                            @*<input type="text" class="form-control" name="DSANAME" />*@
                                            @*<ul class="list-group-horizontal" id="loantype">

                                        </ul>*@
                                            <br />
                                            <label><input type="checkbox" value="Home Loan" name="loan" style="padding: 10px 60px 0px;"> Home Loan</label>
                                            <label><input type="checkbox" value="Business Loan" name="loan" style="padding: 10px 60px 0px;"> Business Loan</label>
                                            <label><input type="checkbox" value="Vehicle Loan" name="loan" style="padding: 10px 60px 0px;"> Vehicle Loan</label>
                                            <label><input type="checkbox" value="Personal Loan" name="loan" style="padding: 10px 60px 0px;"> Personal Loan</label>
                                            <label><input type="checkbox" value="All Loan" name="loan" style="padding: 10px 60px 0px;"> All Loan</label>
                                        </div>
                                        <div class="col-lg-12" style="margin-top: 10px;background-color: #f4f4f4;padding:10px; text-align:right">
                                            <input type="button" id="btnsubmit" class="btn btn-primary"  name="submit" value="Submit" />
                                        </div>

                                    </div>
                                </div>
                                @*<div class="tab-pane card-body pt-4" id="tabs-t-tab2">
                                    <div class="form-group row">
                                        <label for="tabs-t-sate" class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="tabs-t-sate">
                                                <option>Select State</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tabs-t-address" class="col-sm-3 col-form-label">Address</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="tabs-t-address" rows="3" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<script>

    //$(".cta").click(function() {
    //    $("#register").css("hidden", false)
    // })
</script>