﻿
@{
    ViewBag.Title = "account";
    Layout = "~/Views/Shared/_DSA_Admin.cshtml";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    . {font-size:15px;}
    .btnblue {
        background-color: #1f395f;
        border: 1px solid #1f395f;
    }

    .mymodals-confirm {
        color: #636363;
        width: 225px;
        font-size: 14px;
    }

        .mymodals-confirm .mymodals-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .mymodals-confirm .mymodals-header {
            border-bottom: none;
            position: relative;
        }

        .mymodals-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .mymodals-confirm .form-control, .mymodals-confirm .btn {
            min-height: 30px;
            border-radius: 3px;
        }

        .mymodals-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .mymodals-confirm .mymodals-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .mymodals-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: 9;
            background: #636363;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .mymodals-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }

        .mymodals-confirm .mymodals-dialog {
            margin-top: 80px;
        }

        .mymodals-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #636363;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

            .mymodals-confirm .btn:hover, .mymodals-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script>
    function chktext()
    {
        var text = $("#passwordchange").html();
        if (text == "Change") { $("#passwordchange").html("Close"); return; }
        if (text == "Close") { $("#passwordchange").html("Change"); return; }
    }

    function contactchange()
    {
        var text = $("#contactchange").html();
        if (text == "Change") { $("#contactchange").html("Close"); return; }
        if (text == "Close") { $("#contactchange").html("Change"); return; }
    }
    function contactdsauser() {
        var text = $("#contactdsauser").html();
        if (text == "View") { $("#contactdsauser").html("Close"); return; }
        if (text == "Close") { $("#contactdsauser").html("View"); return; }
    }
    function dsadoc() {
        var text = $("#dsadoc").html();
        if (text == "View") { $("#dsadoc").html("Close"); return; }
        if (text == "Close") { $("#dsadoc").html("View"); return; }
    }
    function dsacontract() {
        var text = $("#dsacontract").html();
        if (text == "View") { $("#dsacontract").html("Close"); return; }
        if (text == "Close") { $("#dsacontract").html("View"); return; }
    }
    function bankdetails() {
        var text = $("#bankdetails").html();
        if (text == "View") { $("#bankdetails").html("Close"); return; }
        if (text == "Close") { $("#bankdetails").html("View"); return; }
    }
</script>
<div class="row">

    <div class="col-lg-12">

        <div class="row align-items-center ">
            <div class="col-md-12 card">
                <h3 class="captions">Account Settings</h3>
                <hr />
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingOne">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>Password</b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" style="padding:0px;"><h4 onclick="chktext()" id="passwordchange">Change</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2" style="vertical-align:middle">
                                        Change Password
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" readonly="readonly" value="********" class="form-control" />
                                    </div>
                                    <div class="col-lg-1" style="text-align:left">
                                        <button class="btn btnblue" style="color:white;" data-toggle="modal" data-target="#changepassword">Change</button>
                                    </div>
                                    <div class="col-lg-12">
                                        <br />
                                        <p id="msg"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionExample2">


                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingtwo">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>Contact No</b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsetwo" style="padding:0px;"><h4 onclick="contactchange()" id="contactchange">Change</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2" style="vertical-align:middle">
                                        Contact No.
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" readonly="readonly" value="7017064218" class="form-control" />
                                    </div>
                                    <div class="col-lg-1" style="text-align:left">
                                        <button class="btn btnblue" style="color:white;" data-toggle="modal" data-target="#changemobile">Change</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionExample3">

                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingthree">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>Other DSA Users</b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsethree" style="padding:0px;"><h4 onclick="contactdsauser()" id="contactdsauser">View</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12" style="vertical-align:middle">
                                        <table class="table table-striped" style="font-size:15px;">
                                            <tr>
                                                <td>Name</td>
                                                <td>Email</td>
                                                <td>Contact</td>
                                            </tr>
                                            <tr>
                                                <td>Neeraj</td>
                                                <td>c3.neeraj@gmail.com</td>
                                                <td>
                                                    <div id="editcontact11">
                                                        7017064188 <i class="feather icon-edit-2" onclick="document.getElementById('editcontact1').style.display = 'block';document.getElementById('editcontact11').style.display='none'">
                                                        </i>
                                                    </div>

                                                    <div style="display:none" id="editcontact1">
                                                        <input type="text" style="padding:5px" />
                                                        <input type="button" class="btn btn-success" value="Update" onclick="document.getElementById('editcontact1').style.display = 'none';document.getElementById('editcontact11').style.display='block'" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Neeraj</td>
                                                <td>c3.neeraj@gmail.com</td>
                                                <td>7017064188 <i class="feather icon-edit-2"></i></td>
                                            </tr>

                                            <tr>
                                                <td>Neeraj</td>
                                                <td>c3.neeraj@gmail.com</td>
                                                <td>7017064188 <i class="feather icon-edit-2"></i></td>
                                            </tr>

                                            <tr>
                                                <td>Neeraj</td>
                                                <td>c3.neeraj@gmail.com</td>
                                                <td>7017064188 <i class="feather icon-edit-2"></i></td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionExample4">
                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingfour">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>DSA Documents</b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsefour" style="padding:0px;"><h4 onclick="dsadoc()" id="dsadoc">View</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12" style="vertical-align:middle">
                                        <table class="table table-bordered table-hover" style="font-size:15px;">
                                            <tr>
                                                <td>Pan No</td>
                                                <td><a href="">S5454FFE52652</a></td>
                                                <td><a href="">pancard.pdf</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aadhar Card</td>
                                                <td><a href="">125547487456644</a></td>
                                                <td><a href="">Aadharcard.pdf</a></td>
                                            </tr>
                                        </table>

                                        <button class="btn btnblue pull-right" style="color:white"  data-toggle="modal" data-target="#uploaddocs">Update Docs</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionExample5">
                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingfive">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>Contract Documents</b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" style="padding:0px;"><h4 onclick="dsacontract()" id="dsacontract">View</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12" style="vertical-align:middle">
                                        <table class="table table-bordered table-hover" style="font-size:15px;">
                                            <tr>
                                                <td>Contract Copy: 10/10/2020</td>
                                                <td><a href="">pancard.pdf</a></td>
                                            </tr>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionExample6">
                    <div class="card">
                        <div style="padding:5px;border:1px solid #f4f4f4;background-color:aliceblue" id="headingsix">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h4 style="color:cadetblue"><b>Bank Details  </b> </h4>
                                </div>
                                <div class="col-lg-3" style="text-align:right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsesix" style="padding:0px;"><h4 onclick="bankdetails()" id="bankdetails">View</h4></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample6">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-12">  <a href="" class="pull-right" style="color:green"><b>Edit Details</b></a><hr /></div>
                                    <div class="col-lg-3">
                                        <p>Bank Name :</p>
                                        <input type="text" class="form-control" value="State Bank of India" readonly="readonly" />
                                    </div>

                                    <div class="col-lg-3">
                                        <p>Account No :</p>
                                        <input type="text" class="form-control" value="Account No" readonly="readonly" />
                                    </div>

                                    <div class="col-lg-2">
                                        <p>Branch Name :</p>
                                        <input type="text" class="form-control" value="Agra" readonly="readonly" />
                                    </div>

                                    <div class="col-lg-2">
                                        <p>State :</p>
                                        <input type="text" class="form-control" value="U.P" readonly="readonly" />
                                    </div>

                                    <div class="col-lg-2">
                                        <p>Br. Pincode :</p>
                                        <input type="text" class="form-control" value="282007" readonly="readonly" />
                                    </div>
                                    <div class="col-lg-12" style="margin-top:10px;background-color:ghostwhite;padding:10px;">

                                        <div class="col-lg-3">
                                            <p style="margin-top:5px;text-align:right">Cancel Cheque : <a href="">Filename.pdf</a>&nbsp;</p>

                                        </div>
                                        <div class="col-lg-2">
                                            <button class="btn btnblue" style="color:white;padding:5px;">Update</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="modal" id="changepassword">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="spanheadertext">Change Password</span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table align="center" style="font-size:16px;width:100%">
                                    <tr>
                                        <td>Change Password</td>
                                        <td>
                                            <input type="text" class="form-control" />
                                        </td>
                                        <td>
                                            <button class="btn btnblue" style="color:white;margin-left:10px;" data-dismiss="modal">Save</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="changemobile">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="spanheadertext">Change MobileNo</span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table align="center" style="font-size:16px;width:100%">
                                    <tr>
                                        <td>Enter MobileNo</td>
                                        <td>
                                            <input type="text" class="form-control" />
                                        </td>
                                        <td>
                                            <button class="btn btnblue" style="color:white;margin-left:10px;" data-dismiss="modal">Save</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="uploaddocs">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                   
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="spanheadertext">Upload New Documents</span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"><br />
                                        <span style="margin-top:20px;"><b>PAN No</b></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <div style="padding:20px;width:100px;background-color:#f4f4f4;text-align:center;border-radius:10px;">
                                            <img src="~/assets/images/upload.svg" width="30" height="30" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3"  align="left">
                                        <button class="btn" style="        background-color: #f4f4f4;
        color: black;
        margin-top: 10px;
">Choose File</button>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px;">
                                    <div class="col-lg-4"><br />
                                        <span style="margin-top:10px;"><b>GST No</b></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <div style="padding:20px;width:100px;background-color:#f4f4f4;text-align:center;border-radius:10px;">
                                            <img src="~/assets/images/upload.svg" width="30" height="30" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3" align="left"> 
                                        <button class="btn" style="background-color: #f4f4f4;        color: black;
        margin-top: 10px;
">Choose File</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center">
                                        <hr />
                                        <button class="btn btnblue" style="color:white;">Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

