﻿
@{
    ViewBag.Title = "SendToBank";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<style>
    .btnblue {
        background-color: #1f395f;
        border: 1px solid #1f395f;
    }

    .mymodals-confirm {
        color: #636363;
        width: 225px;
        font-size: 14px;
    }

        .mymodals-confirm .mymodals-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .mymodals-confirm .mymodals-header {
            border-bottom: none;
            position: relative;
        }

        .mymodals-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .mymodals-confirm .form-control, .mymodals-confirm .btn {
            min-height: 30px;
            border-radius: 3px;
        }

        .mymodals-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .mymodals-confirm .mymodals-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .mymodals-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: 9;
            background: #636363;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .mymodals-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }

        .mymodals-confirm .mymodals-dialog {
            margin-top: 80px;
        }

        .mymodals-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #636363;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

            .mymodals-confirm .btn:hover, .mymodals-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<div class="row">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><h4>Send To Bank</h4></li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#" data-toggle="modal" data-target="#addnewuser" onclick="NewBankerDialog();" class="btnblue " style="color:white;padding:5px;font-size:15px;width:200px;border:1px solid #f4f4f4;border-radius:5px;"><i class="feather icon-plus"></i>&nbsp;New Loan Application </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="col-lg-12">
                &nbsp;
            </div>
            <div class="card-body">
                <div class="row align-items-center m-l-0">
                    <div class="col-sm-12">
                        <input type="hidden" id="hiddeneditnofification" />
                        <input type="hidden" id="hiddenselecteduserid" />
                    </div>
                    <div class="col-lg-12" style="font-size:15px;">
                        <div id="report-table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                            <div class="row" style="font-size:15px;text-align:left;margin-bottom:5px;padding:10px;">
                                <div class="col-lg-8" style="text-align:left;">
                                    <table class="row" style="margin-left:0px" >
                                        <tr>
                                            <td>
                                                <select style="padding:5px;font-size:15px;width:100%;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                                    <option>Select Bank </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select style="padding:5px;font-size:15px;width:100%;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                                    <option>Select Product</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select style="padding:5px;font-size:15px;width:100%;border:1px solid #f4f4f4;border-radius:5px;color:gray">
                                                    <option>Select DSA</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#addnewuser" onclick="NewBankerDialog();" style="padding: 5px; font-size: 15px; color: black; padding: 5px;  width: 100%; border: 1px solid #f4f4f4; border-radius: 5px;"><i class="feather icon-download"></i>&nbsp;Download Excel </a>
                                            </td>
                                        </tr>
                                    </table>
                                 


                                    
                                </div>

                                <div class="col-lg-4" style="text-align:right">
                                    <table class="row" style="font-size:15px;" align="right">
                                        <tr>
                                            <td>From:</td>
                                            <td>
                                                <input type="date" style="padding:5px;font-size:15px;width:100%;border:1px solid #f4f4f4;border-radius:5px;color:gray" />
                                            </td>
                                            <td>
                                                To
                                            </td>
                                            <td>
                                                <input type="date" style="padding:5px;font-size:15px;width:100%;border:1px solid #f4f4f4;border-radius:5px;color:gray" />
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-12"><br /></div>
                                <div class="col-lg-12 table-responsive">
                                    <table border="1" style="font-size:15px;width:100%" id="tblbankerlist" class=" table table-bordered table-striped mb-0 dataTable no-footer" role="grid" aria-describedby="report-table_info">
                                        <thead style="font-size:17px;">
                                            <tr role="row">
                                                <th style="text-transform:capitalize">Action</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">File No </th>
                                                <th  style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Company Name</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Date of Sending</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Children Roll: activate to sort column ascending">BankName</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Children Roll: activate to sort column ascending">Product</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Children Roll: activate to sort column ascending">DSA</th>
                                                <th style="text-transform:capitalize" class="sorting" tabindex="0" aria-controls="report-table" rowspan="1" colspan="1" aria-label="Options: activate to sort column ascending">Working Person</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    </div>

    <!-- subscribe start -->



    <div class="modal" id="compdtl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title"><span id="spanheadertext">Company Detail</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <table class="table " style="font-size:16px;">
                                <tr>
                                    <td><b>Company Name :</b></td>
                                    <td> Name of company</td>
                                </tr>
                                <tr>
                                    <td><b>Customer Name :</td>
                                    <td> Name of Customer</td>
                                </tr>
                                <tr>
                                    <td>Contact No:</td>
                                    <td> +91-787877878</td>
                                </tr>


                            </table>
                            <div class="" id="tabswizard" style="display:none">

                                <div class="tab-content card">
                                    <div class="pt-1 btnblue"></div>
                                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                        <form>
                                            <div class="row text-success" id="divmessage"></div>
                                            <div class="row text-danger" id="diverrormessage"></div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>First Name </label>
                                                    <input type="text" class="form-control" id="txtfirstname" name="txtfirstname" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" id="txtlastname" name="txtlastname" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Email </label>
                                                    <input type="text" class="form-control" id="txtemail" name="txtemail" />
                                                </div>

                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Mobile No</label>
                                                    <input type="text" class="form-control" id="txtmobile" name="txtmobile" />
                                                </div>

                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Loan Type</label>
                                                    <select class="form-control" id="ddlloantype">
                                                        <option>--Select---</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4" style="margin-top:10px;">
                                                    <label>Bank Name</label>
                                                    <table width="100%">
                                                        <tr>
                                                            <td>
                                                                <select class="form-control" id="ddlbankname">
                                                                    <option>---Select---</option>
                                                                </select>
                                                            </td>
                                                            @*<td>
                                                                    <a href="/Bank/Bank/" class="btnblue"><i class="feather icon-plus"></i></a>
                                                                </td>*@
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="col-lg-5" style="margin-top:10px;">
                                                    <label>State Name</label>
                                                    <table width="100%">
                                                        <tr>
                                                            <td>
                                                                <select class="form-control" id="ddlstatename">
                                                                    <option>---Select---</option>
                                                                    <option>UP</option>
                                                                </select>
                                                            </td>
                                                            @*<td><a href="#" class="btnblue"><i class="feather icon-plus"></i></a></td>*@
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 text-right" style="margin-top: 10px;padding:10px;">
                                                    @*<input type="button" class="btn btn-danger btnblue" id="btnsubmitbanker" name="submit" value="Submit" />*@
                                                    <a href="#" id="btnsubmitbanker" class="btn btn-dark" data-toggle="modal">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="statusmodel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="font-size:15px;">
                    <h5 class="modal-title"><b>Update Pendancy Details</b> </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="" id="tabswizard">
                                <div class="tab-content card">
                                    <div class="pt-1 btnblue"></div>
                                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                        <form>
                                            <div class="row" style="background-color:#f4f4f4;padding:10px;border-radius:5px;">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <label style="color:royalblue;font-size:16px;">Application No : <span style="color:black">Customer Name </span></label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label style="color:royalblue;font-size:16px;">Company Name : <span style="color:black">Company Name </span></label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label style="color:royalblue;font-size:16px;">Product Name: <span style="color:black">Hompe Loan</span></label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label style="color:royalblue;font-size:16px;">Loan Amount : <span style="color:black">784554 :</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="margin-top:10px">
                                                <h5>Pendency Details</h5>
                                                <table class="table" style="font-size:15px">
                                                    <tr>
                                                        <td colspan="4" align="left">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <label>Submitted On  :</label><label>Neeraj </label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label>Action Taken On  :</label><label>10.10.2920 </label>
                                                                </div>
                                                            </div>
                                                            <textarea class="form-control" rows="3" readonly="readonly">
                                                           
                                                        </textarea>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="4" align="left">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <label>Submitted On  :</label><label>Neeraj </label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label>Action Taken On  :</label><label>10.10.2920 </label>
                                                                </div>
                                                            </div>
                                                            <textarea class="form-control" rows="3" readonly="readonly">
                                                           
                                                        </textarea>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td colspan="4" align="left">
                                                            <span style="color:dimgray;font-size:15px;margin-bottom:5px;">Add Pendency Comments</span>
                                                            <textarea class="form-control" rows="10" cols="10">
                                                                 </textarea>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="right" colspan="4">
                                                            <button class="btnblue btn btn-info" style="color:white">Submit</button>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="viewdetails">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Mark as Logged In </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="" id="tabswizard">

                                <div class="tab-content card">
                                    <div class="pt-1 btnblue"></div>
                                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                                        <form>
                                            <div class="row" style="padding:10px;border-radius:5px;">
                                               
                                                <table class="table" style="font-size:15px;">

                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="row" style="background-color:#f4f4f4;padding:10px;border-radius:5px;">
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <label style="color:royalblue;font-size:16px;">File No : <span style="color:black">Customer Name </span></label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label style="color:royalblue;font-size:16px;">Bank Name : <span style="color:black">Company Name </span></label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label style="color:royalblue;font-size:16px;">Product Name: <span style="color:black">Hompe Loan</span></label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label style="color:royalblue;font-size:16px;">Loan Amount : <span style="color:black">784554 :</span></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                Current DSA
                                                            </b>
                                                        </td>
                                                        <td>
                                                            R.S Enterprises
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <b>
                                                                Change DSA
                                                            </b>
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>Select DSA</option>
                                                            </select>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>
                                            
                                            <div class="row" style="margin-top:10px">
                                                <div align="center" class="col-lg-12">
                                                    <input type="submit" value="submit" class="btn btn-info btnblue" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        function loanlist() {
            $('#ddlloantype').empty()
            $('#ddlloantype').append('<option value="0">' + '--Select---' + '</option>');

            $.ajax({
                type: 'GET',
                url: 'http://crm.dengiadvisors.com/api/Banker/getalloans',
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    var rolelist = JSON.stringify(data);
                    //alert(rolelist);
                    $.each(data, function (index, value) {

                        $('#ddlloantype').append('<option value="' +
                            value.Id + '">' + value.Name + '</option>');
                    });
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    alert(messagedata.Message);
                }
            });

        }
        function banklist() {
            $('#ddlbankname').empty()
            $('#ddlbankname').append('<option value="0">' + '--Select---' + '</option>');

            $.ajax({
                type: 'GET',
                url: 'http://crm.dengiadvisors.com/api/Bank/getallbanks',
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    var rolelist = JSON.stringify(data);
                    //alert(rolelist);
                    $.each(data, function (index, value) {

                        $('#ddlbankname').append('<option value="' +
                            value.Id + '">' + value.BankName + '</option>');
                    });
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    alert(messagedata.Message);
                }
            });

        }
        function statelist() {
            $('#ddlstatename').empty()
            $('#ddlstatename').append('<option value="0">' + '--Select---' + '</option>');

            $.ajax({
                type: 'GET',
                url: 'http://crm.dengiadvisors.com/api/states/getallstates',
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                },
                success: function (data) {
                    var rolelist = JSON.stringify(data);
                    //alert(rolelist);
                    $.each(data, function (index, value) {

                        $('#ddlstatename').append('<option value="' +
                            value.Id + '">' + value.StateName + '</option>');
                    });
                },
                error: function (response) {
                    var messagedata = JSON.parse(response.responseText)
                    alert(messagedata.Message);
                }
            });

        }

        function Checkemail() {
            txtemail.oninput = function () {
                if ($('#txtemail').val() != '') {
                    $.ajax({
                        type: 'POST',
                        url: 'http://crm.dengiadvisors.com/api/Banker/getbankerbyemail',
                        dataType: 'JSON',
                        data: JSON.stringify({ 'user': $('#txtemail').val() }),
                        dataType: 'json',
                        contentType: 'application/json',
                        processData: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                        },
                        success: function (data) {
                            $('#diverrormessage').html('');
                            if (data.Result != null) {
                                $('#diverrormessage').html('Email is already exists!');
                            }
                        }
                    });
                }
            }
        }
        function Checkcontact() {
            txtmobile.oninput = function () {
                if ($('#txtmobile').val() != '') {
                    $.ajax({
                        type: 'POST',
                        url: 'http://crm.dengiadvisors.com/api/Banker/getbankerbyphone',
                        dataType: 'JSON',
                        data: JSON.stringify({ 'user': $('#txtmobile').val() }),
                        dataType: 'json',
                        contentType: 'application/json',
                        processData: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                        },
                        success: function (data) {
                            $('#diverrormessage').html('');
                            if (data.Result != null) {
                                $('#diverrormessage').html('Contact number is already exists!');
                            }
                        }
                    });
                }
            }
        }
        function Checkname() {
            txtfirstname.oninput = function () {
                if ($('#txtfirstname').val() != '') {
                    $.ajax({
                        type: 'POST',
                        url: 'http://crm.dengiadvisors.com/api/Banker/getbankerbyname',
                        dataType: 'JSON',
                        data: JSON.stringify({ 'user': $('#txtfirstname').val() }),
                        dataType: 'json',
                        contentType: 'application/json',
                        processData: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                        },
                        success: function (data) {
                            $('#diverrormessage').html('');
                            if (data.Result != null) {
                                $('#diverrormessage').html('First name is already exists!');
                            }
                        }
                    });
                }
            }
        }
        function savenewbanker() {
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            var phoneno = /^(?:(?:\+|0{0,2})91(\s*|[\-])?|[0]?)?([6789]\d{2}([ -]?)\d{3}([ -]?)\d{4})$/;
            if ($('#txtfirstname').val() == '') {
                $('#diverrormessage').html('Please enter first name!');
            }
            else if (!isNaN($('#txtfirstname').val())) {
                $('#diverrormessage').html('Please Enter Only Characters');
            }
            else if ($('#txtlastname').val() == '') {
                $('#diverrormessage').html('Please enter last name!');
            }
            else if (!isNaN($('#txtlastname').val())) {
                $('#diverrormessage').html('Please Enter Only Characters');
            }
            else if ($('#txtmobile').val() == '') {
                $('#diverrormessage').html('Please enter mobile number!');
            }
            else if (!($('#txtmobile').val().match(phoneno))) {
                $('#diverrormessage').html('Please enter valid mobile number!');
            }
            else if ($('#txtemail').val() == '') {
                $('#diverrormessage').html('Please enter email!');
            }
            else if (!($('#txtemail').val().match(mailformat))) {
                $('#diverrormessage').html('Please enter valid email!');
            }
            else if ($('#ddlbankname option:selected').text() == '--Select---') {
                $('#diverrormessage').html('Please select bank!');
            }
            else if ($('#ddlloantype option:selected').text() == '--Select---') {
                $('#diverrormessage').html('Please select loan!');
            }
            else if ($('#ddlstatename option:selected').text() == '--Select---') {
                $('#diverrormessage').html('Please select state!');
            }
            else {
                $('#divmessage').html('');
                $('#diverrormessage').html('');

                var info = {
                    FirstName: $('#txtfirstname').val(),
                    LastName: $('#txtlastname').val(),
                    MobileNo: $('#txtmobile').val(),
                    Email: $('#txtemail').val(),
                    CreatedById: sessionStorage.getItem('userId'),
                    BankId: $('#ddlbankname option:selected').val(),
                    LoanId: $('#ddlloantype option:selected').val(),
                    StateId: $('#ddlstatename option:selected').val(),
                }

                $.ajax({
                    type: 'Post',
                    url: 'http://crm.dengiadvisors.com/api/banker/newbanker',
                    data: JSON.stringify({ "bankdetails": info }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (Message) {
                        //alert(Message.Message);
                        if (Message.Message == null) {
                            $('#divmessage').html('');
                            $('#diverrormessage').css("color", "red");
                            $('#diverrormessage').html('Banker already exists!');
                        }
                        else {
                            $("#addnewbanker").modal('hide');
                            $('#spanbankresponsemessage').text('Banker details has been successfully updated!');
                            $("#MyModal").modal('show');
                            $('#diverrormessage').html('');
                            //$('#divmessage').html(Message.Message);
                            $('#tbldsalist tbody').empty();
                            $('#txtbankname').val('');
                            $('#txtattachmentsize').val('');
                            GetBankers();
                            loanlist();
                            banklist();
                            statelist();
                        }
                    },
                    error: function (response) {
                        var messagedata = JSON.parse(response.responseText)
                        alert(response.responseText);
                    }
                });
            }
        }
        function NewBankerDialog() {
            $("#btnsubmitbanker").html('Save');
            $('#hiddenselecteduserid').val('');
            $('#diverrormessage').html('');
            $('#divmessage').html('');
            $('#addnewbanker').modal('show');
            $('#spanheadertext').text('Add New Banker');
            $('#txtfirstname').val('');
            $('#txtlastname').val('');
            $('#txtmobile').val('');
            $('#txtemail').val('');
            $('#txtemail').removeAttr('readonly');
            $('#txtfirstname').removeAttr('readonly');
            $('#txtlastname').removeAttr('readonly');

        };
        function GetBankers() {
            $('#tblbankerlist').DataTable().destroy();
            var table = $('#tblbankerlist').DataTable(
                {
                    "bLengthChange": false, "searching": false,
                    ajax: {
                        type: "GET",
                        url: 'http://crm.dengiadvisors.com/api/Banker/getallbankers',
                        dataSrc: '',
                        datatype: 'json', //processing: true,
                        processData: false,
                        contentType: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                        }
                    },
                    columns: [
                        // {

                        //data: "Id", <input type="hidden" id="hiddeneditnofification" />
                        //data: null, "width": "55px", "render": function (data, type, row) {
                        //    var edit = "<input type='hidden' id='" + data.Id + "' value='" + data.Id + "' />";
                        //    return edit ;
                        //}
                        // },
                        {

                            data: null, "width": "55px", "render": function (data, type, row) {
                                var dropdown = " <div class='dropdown' style='text-align:center'><svg data-toggle='dropdown' class='dropdown-toggle' width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-three-dots-vertical' fill ='currentColor' xmlns = 'http://www.w3.org/2000/svg'> <path fill-rule='evenodd' d='M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z' />    </svg>     <ul class='dropdown-menu' style='margin-left:10px;'> <li><a href='#' style='font-size:15px; color:black; padding-left:3%' data-toggle='modal' data-target='#statusmodel'><i class='feather icon-server'></i> Mark Pending</a></li>     <li><hr /></li>     <li><a href='#' style='font-size:15px; color:black; padding-left:3%' data-toggle='modal' data-target='#viewdetails'><i class='feather icon-file'></i> Mark Logged In</a></li>  </ul> </div >";
                                var edit = "<a id='" + data.Id + "' onclick='EditBanker(this);' data-target='#addnewback' role='button' class='pc-link'><i class='fa fa-edit' style ='font-size: x-large;color: #1f395f'></i> </a>";
                                var dele = "<a id='" + data.Id + "' onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-trash' style ='font-size: x-large;color: #1f395f' ></i></a>";
                                var hiddenbankerid = "<input type='hidden' id='" + data.Id + "' value='" + data.Id + "' />";
                                // return dropdown+"|"+edit + " | " + dele + " " + hiddenbankerid;
                                return dropdown + "" + hiddenbankerid;
                            }
                        },
                        {
                            //data: "Status",
                            data: "FirstName", "width": "55px", "render": function (data, type, row) {
                                //var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                                var edit = "<a id='" + data.Id + "' data-toggle='modal' data-target='#compdtl' role='button' class='pc-link' style='color:blue'>F001 </a>";
                                return edit;
                            }
                        },
                        {
                            //data: "Status",
                            data: "Bank", "width": "55px", "render": function (data, type, row) {
                                //var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                                var edit = "<a id='" + data.Id + "' data-toggle='modal' data-target='#compdtl' role='button' class='pc-link' style='color:blue'>Aliqan Tech </a>";
                                return edit;
                            }
                        },
                        {
                            data: "Bank", "width": "55px", "render": function (data, type, row) {
                                //var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                                var edit = "<span>10.11.2020</span>";
                                return edit;
                            },
                        },
                        {
                            data: "Bank",
                        },
                        {
                            data: "LoanType",
                        },
                        {
                            data: "Bank", "width": "55px", "render": function (data, type, row) {
                                //var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                                var edit = "<span>R.K Enterprises</span>";
                                return edit;
                            },
                        },
                        {
                            //data: "Status",
                            data: "Status", "width": "55px", "render": function (data, type, row) {
                                //var reemail = "<a onclick='' data-target='' role='button' class='pc-link'><i class='fa fa-envelope' style ='font-size: x-large;color: #1f395f' ></i></a><br>NotActive";
                                var reemail = "<span>Rohit Kumar</span>";
                                return reemail;
                            }
                        },


                    ],
                    // "order": [[1, 'asc']],
                    'rowCallback': function (row, data, index) {
                        if (data["Status"] === 'Inactive') {
                            $(row).find('td:eq(6)').css('color', 'black');
                        }
                        else if (data["Status"] === 'Active') {
                            $(row).find('td:eq(6)').css('color', 'black');
                        }
                        else if (data["Status"] === 'Resend Invite') {
                            $(row).find('td:eq(6)').css('color', 'black');
                        }
                    },

                    language: {
                        emptyTable: "<h3>No Banker listed</h3><br/><a href='#' onclick='NewBankerDialog()' data-toggle='modal' data-target='#addnewuser'>Create New Banker</a>",
                        //processing: '<div class="spinner"></div>'
                    }
                });

        }

        function EditBanker(obj) {
            //var bankerid = $(obj).closest('tr').find('td:first').html();
            var bankerid = $(obj).closest('tr').find('input[type=hidden]').val();

            $('#hiddenselecteduserid').val(bankerid);
            $('#hiddeneditnofification').val(true);
            if ($('#hiddenselecteduserid').val() != '') {
                //$("#btnsubmitbanker").attr('value', 'Update');
                $("#btnsubmitbanker").html('Activate');
                $('#addnewbanker').modal('show');
                $('#spanheadertext').text('Activate Banker');
                bkid = { Id: $('#hiddenselecteduserid').val() };

                $.ajax({
                    type: 'Post',
                    url: 'http://crm.dengiadvisors.com/api/Banker/getbanker',
                    data: JSON.stringify({ "banker": bkid }),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#diverrormessage').html('');
                            var userlist = JSON.stringify(data);
                            //alert(JSON.stringify(data));
                            var loanid = data.Result.BankerLoanType[0].Id;
                            var loanName = data.Result.BankerLoanType[0].Name;
                            $('#ddlloantype').empty()
                            $('#ddlloantype').append('<option value="' + loanid + '">' + loanName + '</option>');
                            $('#ddlloantype').append('<option value="0">' + '--Select---' + '</option>');

                            var bankid = data.Result.BankerBanks[0].Id;
                            var bankName = data.Result.BankerBanks[0].BankName;
                            $('#ddlbankname').empty();
                            $('#ddlbankname').append('<option value="' + bankid + '">' + bankName + '</option>');
                            $('#ddlbankname').append('<option value="0">' + '--Select---' + '</option>');

                            var stateid = data.Result.BankerStateType[0].Id;
                            var stateName = data.Result.BankerStateType[0].StateName;
                            $('#ddlstatename').empty();
                            $('#ddlstatename').append('<option value="' + stateid + '">' + stateName + '</option>');
                            $('#ddlstatename').append('<option value="0">' + '--Select---' + '</option>');

                            $.ajax({
                                type: 'GET',
                                url: 'http://crm.dengiadvisors.com/api/Banker/getalloans',
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                beforeSend: function (request) {
                                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                                },
                                success: function (data) {
                                    var rolelist = JSON.stringify(data);
                                    //alert(rolelist);
                                    $.each(data, function (index, value) {

                                        $('#ddlloantype').append('<option value="' +
                                            value.Id + '">' + value.Name + '</option>');
                                    });
                                },
                                error: function (response) {
                                    var messagedata = JSON.parse(response.responseText)
                                    alert(messagedata.Message);
                                }
                            });
                            //$.ajax({
                            //    type: 'GET',
                            //    url: 'http://crm.dengiadvisors.com/api/Bank/getallbanks',
                            //    dataType: 'json',
                            //    contentType: false,
                            //    processData: false,
                            //    beforeSend: function (request) {
                            //        request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                            //        request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                            //    },
                            //    success: function (data) {
                            //        var rolelist = JSON.stringify(data);
                            //        //alert(rolelist);
                            //        $.each(data, function (index, value) {

                            //            $('#ddlbankname').append('<option value="' +
                            //                value.Id + '">' + value.BankName + '</option>');
                            //        });
                            //    },
                            //    error: function (response) {
                            //        var messagedata = JSON.parse(response.responseText)
                            //        alert(messagedata.Message);
                            //    }
                            //});
                            $.ajax({
                                type: 'GET',
                                url: 'http://crm.dengiadvisors.com/api/states/getallstates',
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                beforeSend: function (request) {
                                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                                },
                                success: function (data) {
                                    var rolelist = JSON.stringify(data);
                                    //alert(rolelist);
                                    $.each(data, function (index, value) {

                                        $('#ddlstatename').append('<option value="' +
                                            value.Id + '">' + value.StateName + '</option>');
                                    });
                                },
                                error: function (response) {
                                    var messagedata = JSON.parse(response.responseText)
                                    alert(messagedata.Message);
                                }
                            });

                            $('#txtfirstname').val(data.Result.FirstName);
                            $('#txtlastname').val(data.Result.LastName);
                            $('#txtmobile').val(data.Result.MobileNo);
                            $('#txtemail').val(data.Result.Email);
                            $('#txtemail').attr('readonly', true);
                            $('#txtfirstname').attr('readonly', true);
                            $('#txtlastname').attr('readonly', true);
                        }
                    },
                    error: function (response) {
                        var messagedata = JSON.parse(response.responseText)
                        alert(messagedata.Message);
                    }
                });


            }
            else {
                alert('Please select user which you want to edit!');
            }



            $("#btnsubmitbank").attr('value', 'Update');
            $('#txtfirstname').val('');
            $('#txtlastname').val('');
            $('#txtmobile').val('');
            $('#txtemail').val('');
            //$('#addnewback').modal('show');
        };

        function ResendStatus(obj) {
            var bankerid = $(obj).closest('tr').find('input[type=hidden]').val();
            alert('Banker Id:' + bankerid);
        }

        $(document).ready(function () {
            loanlist(); banklist(); statelist();
            Checkemail(); Checkcontact(); Checkname();
            GetBankers();

            $("#btnsubmitbanker").click(function () {//$("#btnsubmitbanker").val()
                if ($("#btnsubmitbanker").html() == 'Activate') {

                    if ($('#hiddenselecteduserid').val() != '') {
                        if ($('#txtfirstname').val() == '') {
                            $('#diverror').html('Please enter first name!');
                        }
                        else if ($('#txtlastname').val() == '') {
                            $('#diverror').html('Please enter last name!');
                        }
                        else if ($('#txtmobile').val() == '') {
                            $('#diverror').html('Please enter mobile number!');
                        }
                        else if ($('#txtemail').val() == '') {
                            $('#diverror').html('Please enter email!');
                        }
                        else if ($('#ddlloantype option:selected').text() == '--Select---') {
                            $('#diverror').html('Please select loan type!');
                        }
                        else if ($('#ddlbankname option:selected').text() == '--Select---') {
                            $('#diverror').html('Please select bank!');
                        }
                        else if ($('#ddlstatename option:selected').text() == '--Select---') {
                            $('#diverror').html('Please select state!');
                        }
                        else {

                            var info = {
                                Id: $('#hiddenselecteduserid').val(),
                                FirstName: $('#txtfirstname').val(),
                                LastName: $('#txtlastname').val(),
                                MobileNo: $('#txtmobile').val(),
                                Email: $('#txtemail').val(),
                                CreatedById: sessionStorage.getItem('userId'),
                                BankerLoan: $('#ddlloantype option:selected').val(),
                                BankerBank: $('#ddlbankname option:selected').val(),
                                BankerState: $('#ddlstatename option:selected').val(),
                            }

                            $.ajax({
                                type: 'Post',
                                url: 'http://crm.dengiadvisors.com/api/Banker/updatebanker',
                                data: JSON.stringify({ "bankerinfo": info }),
                                dataType: 'json',
                                contentType: 'application/json',
                                processData: false,
                                beforeSend: function (request) {
                                    request.setRequestHeader("Authorization", "Bearer " + $('#authHeader').val());
                                    request.setRequestHeader("ar", "5e3d803410d9620e4882497urtde");
                                },
                                success: function (Message) {
                                    //alert(Message.Message);
                                    // $("#addnewbanker").modal('hide');


                                    if (Message.Message == null) {
                                        $('#divmessage').html('');
                                        $('#diverrormessage').css("color", "red");
                                        $('#diverrormessage').html('Server Error.Please try after some time!');
                                    }
                                    else {
                                        $("#addnewbanker").modal('hide');
                                        $('#spanbankresponsemessage').text('The Banker account is reactivated and notified to the user!');
                                        $("#MyModal").modal('show');

                                        $('#diverrormessage').html('');
                                        //$('#divmessage').html(Message.Message);
                                        // $("#myModal").modal('hide');
                                        $('#tbldsalist tbody').empty();
                                        $('#txtbankname').val('');
                                        $('#txtattachmentsize').val('');
                                        GetBankers();
                                        loanlist();
                                        banklist();
                                        statelist();
                                    }

                                },
                                error: function (response) {
                                    var messagedata = JSON.parse(response.responseText)
                                    alert(response.responseText);
                                }
                            });
                        }
                        $('#hiddenselecteduserid').val('');
                    }

                }
                else {
                    $('#hiddenselecteduserid').val('');
                    $('#diverrormessage').html('');
                    $('#divmessage').html('');
                    savenewbanker();
                }
            })

        })
    </script>

